/**
*** Alejandro Narváez Isaza / fluorescente.design
**/

/* ==== Media queries ==== */

@media only screen and (min-width: 60em) { /* 960px */
  /*  General  */
  .hidden-m {
    display: none;
  }
  .container{
    width: 92%;
  }
  .break-s{
    display: none;
  }
  /* Header */
  header{
    padding-top: 8.6rem;
    padding-bottom: 3rem;
  }
  header h1 .icon-heart{
    vertical-align: top;
    position: relative;
    top: .4rem;
  }
  .blog-header{
    padding-top: 7rem;
    padding-bottom: 5rem;
    background-image: url(../images/header-stars-blog.svg);
  }
  .header-message{
    text-align: center;
    width: 60%;
    margin: 0 auto;
  }
  header h1{
    font-size: 2.1rem;
    line-height: 2.8rem;
    margin-bottom: 3.6rem;
  }
  /*  Sections  */
  .work, .services, .team, .what-we-are, .how-we-work, .contact{
    padding-top: 1.2rem;
    padding-bottom: 2.6rem;
    text-align: left;
  }
  .services, .how-we-work, .contact{
    padding-top: 2rem;
  }
  .team{
    padding-bottom: 1rem;
  }
  .what-we-are{
    padding-top: 0;
  }
  .section-header{
    text-align: left;
    font-size: 1.3rem;
  }
  .what-we-are-slide{
    margin-bottom: 3.6rem;
    display: flex;
    align-items: center;
  }
  .what-we-are p{
   position: absolute;               /* 2 */
   top: 50%;                         /* 3 */
   transform: translate(0, -50%);
   width: 46%;
  }
  .what-we-are p, .steps, .contact-text, footer p, .footer-logo{
    text-align: left;
  }
  footer p, .social{
    margin-top: 1rem;
  }
  .footer-logo{
    font-size: 2.6rem;
  }
  /* team */
  .team-member-picture{
    width: auto;
    margin: 0;
  }
  .team-member h3{
    margin-top: 0;
  }
  /* Nav */
  .right-nav a{
    margin-left: 1rem;
  }
  /*  Work section  */
  .uk-overlay-panel{
    background-color: #fff;
    /*background-color: #00F2A4;*/
    margin: .6rem;
    color: #242424;
  }
  /* services section */
  .service-container h3{
    margin-top: 0;
  }
  .services-icons{
    font-size: 5.6rem;
    display: block;
    text-align: center;
 }
  .services-icons-tall{
    font-size: 5rem;
  }
  .services-icons-wide{
    font-size: 4rem;
  }
  .icon-web-development{
    font-size: 3rem;
    text-align: left;
  }
  .icon-how{
    font-size: 6.2rem;
  }
  .icon-web-design{
    font-size: 5rem;
  }
  /* Modal */
  .uk-modal{
    top: -6.6rem;
  }
  .uk-modal-dialog{
    width: 86%;
    max-width: 1100px;
    text-align: left;
  }
  .next-prev-modal{
    z-index: -1;
  }
  .next-prev-modal a{
    font-size: 1.2rem;
    /* background-color: rgba(36,36,36,0.03); */
    background-color: #fafafa;
    padding: 2.8rem;
    /* color: #fff; */
  }
  .next-prev-modal a:hover{
    background-color: #f5f5f5;
    /* background-color: rgba(36,36,36,0.06); */
    /* color: #242424; */
  }
  .close-button{
    margin-bottom: 1.2rem;
  }
  .modal h3{
    margin-top: 0;
  }
  /* contact */
  .contact{
    margin-bottom: 0rem;
    margin-top: 3rem;
  }
  .contact h2{
    margin-top: 0;
  }
  /* blog */
  .photo-caption-h1{
    margin-top: -1rem;
  }
  .blog-post h1{
    margin-bottom: 2rem;
  }
  .post-previews-container{
    width: 75%;
  }
  /* footer */
  footer{
    padding: 1.6rem .6rem;
  }
  footer p{
    font-size: .86rem;
    margin-left: -4rem;
  }
  .social{
    text-align: left;
  }
  .social li{
    font-size: 1.1rem;
    margin: 0 .46rem;
  }
  .social-contact{
    text-align: left;
    margin-top: 0;
    margin-left: -1rem;
  }
  .newsletter-form-container{
    width: 66%;
  }
  .social-sharing{
    text-align: center;
    margin-top: 2.1rem;
    padding-left: 2rem;
  }
  .social-sharing a{
    font-size: 1.3rem;
  }
  .social-sharing li{
    margin: 1.2rem .46rem !important;
    display: block;
  }
  .social-sharing li:first-child{
    margin: 0 .46rem !important;
  }
}

@media only screen and (min-width: 45em) and (max-width: 60em){
  header h1{
    font-size: 2.3rem;
    line-height: 2.8rem;
    margin-bottom: 3rem;
  }
  .special-8 {
    width: 100%;
  }
  .service-container h3, .service-container p{
    text-align: left;
  }
  .contact-form{
    margin-top: 5rem;
  }
  .break-s{
    display: none;
  }
}

@media only screen and (max-width: 60em) { /* 960px */
  /*  General  */
  .hidden-s {
    display: none;
  }
}
