/**
*** Alejandro Narváez Isaza / fluorescente.design
**/

/* ==== General ==== */

/*fluorescente-green: #40FC81*/
/*fluorescente-black: #242424*/

body, h1, h2, h3, h4, h5, h6, p, legend, a{
  font-family: "proxima-nova", sans-serif;
  color: #242424;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 700;
}

h2{
  font-size: 1.36rem;
  text-align: center;
}

h3{
  font-size: 1.1rem;
}

p{
  line-height: 1.38rem;
  font-size: .96rem;
}

.section-header{
  margin: 2rem 0 1.6rem 0;
  text-align: left;
}

body{
  background-color: #fff;
  overflow-x: hidden;
}

a{
  text-decoration: none;
  font-weight: 700;
}

a:hover{
  text-decoration: none !important;
  color: #40FC81;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.break:before{
  display: block;
  content: '';
}

.break-s{
  display: block;
  content: '';
}

ul, ol{
  list-style-type: none;
  padding: 0;
}

figure{
  margin: 0;
}

figure img{
  width: 100%;
}

.last-hero{
  margin-bottom: 4rem;
}

.inline{
  display: inline-block;
}

.big-button{
  text-transform: uppercase;
  letter-spacing: .2rem;
  background-color: #40FC81;
  padding: .9rem 1.2rem;
}

.big-button:hover{
  background-color: #242424;
  color: #40FC81;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

:focus{
  outline: 0;
}

/* == typekit-font-events | https://helpx.adobe.com/typekit/using/font-events.html == */

.wf-loading{
  visibility: hidden;
}

/* ==== main-nav ==== */

.saturn a{
  font-size: 2rem;
  position: relative;
  top: -.2rem;
  color: #242424;
}

.saturn a:hover{
  color: #40FC81;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.main-nav{
  background-color: #fff;
  position: fixed;
  z-index: 200;
  width: 100%;
  padding: 1.3rem 0 0 0;
}

.left-nav, .right-nav{
  display: inline-block;
  margin: 0;
}

.left-nav{
  padding-left: 1rem;
  float: left;
}

.right-nav{
  float: right;
  padding-right: 1rem;
}

.right-nav a{
  margin-left: .4rem;
  font-size: .9rem;
}

.right-nav a:hover{
  border-bottom: 4px solid #40FC81;
  padding-bottom: 1.1rem;
  color: inherit;
  -webkit-transition: none;
  transition: 0 none;
}

.language{
  position: absolute;
  top: 5rem;
  right: 0rem;
  z-index: 100;
}

.language a{
  background-color: #40FC81;
  padding: .4rem 1rem .4rem .8rem;
  border-top-left-radius: 23px;
  border-bottom-left-radius: 23px;
}

.language a:hover{
  color: #40FC81;
  background-color: #242424;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.lang-divider{
  display: block;
  width: 3rem;
  height: .1rem;
  background-color: #D7D7D7;
  margin: 2rem 0;
}

.dropdown-toggle span{
  font-size: .1rem;
  vertical-align: middle;
  margin-left: .5rem;
}

.dropdown-toggle a:hover{
  border-bottom: 4px solid rgba(0,0,0,0);
}

.main-nav .uk-dropdown{
  width: auto;
  margin: .8rem 0 0;
  padding: 0;
  border-radius: 0;
  border-color: rgba(0,0,0,0);
  background-color: rgba(0,0,0,0);
  text-align: left;
}

.uk-dropdown .uk-nav {
  margin: -.9rem 0 0 -2rem;
}

.uk-dropdown a{
  padding: 1.4rem 2rem !important;
  background-color: #fff;
}

.uk-dropdown a:hover, .uk-dropdown a:focus{
  border-bottom: 0 solid rgba(0,0,0,0);
  background-color: #F0F0F0 !important;
  color: #242424 !important;
  box-shadow: none;
  text-shadow: none;
}

/* ==== header ==== */

header{
  padding: 7rem 0rem 2rem;
  background-color: #fafafa;
  background-image: url(../images/header-stars.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

header h1{
  font-size: 2rem;
  line-height: 2.6rem;
  margin-bottom: 3.2rem;
}

header h1 .icon-heart{
  color: #40FC81;
  font-size: 1.2rem;
}

/* ==== work ==== */

.work{
  margin-bottom: 2rem;
}

.work-thumbnail{
  margin-bottom: .6rem;
}

.work-thumbnail h3, .work-thumbnail p{
  margin: .2rem 0;
}

.work-thumbnail h3{
  margin: 1rem 0 0 0;
}

.work-thumbnail p{
  font-weight: 500;
  margin: .1rem 0;
}


 /* ==== services ==== */

.services, .team{
  padding-bottom: 2rem;
  background-color: #fafafa;
  margin-left: 0;
  margin-right: 0;
}

.team{
  text-align: left;
}

.service-container{
  margin-bottom: .6rem;
}

.service-container h3{
  margin-bottom: .6rem;
}

.service-container p{
  margin-top: 0rem;
}

.services-icons{
  font-size: 7.6rem;
  color: #40FC81;
}


.services-icons-tall{
  font-size: 5.6rem;
}

.services-icons-wide{
  font-size: 6rem;
}

.icon-web-development{
  font-size: 4.6rem;
}

.icon-web-design{
  font-size: 5rem;
}

/* ==== team ==== */

.team{
  border-top: 1px solid #fff;
  background-color: #fff;
  padding-bottom: 0;
}

.team-member-picture{
  width: 9rem;
  margin: 0 auto -.8rem auto;
}

.team-member h3{
  margin-bottom: .4rem;
  font-size: 1.2rem;
}

.team-member h4, .modal h4, .blog-posts h4, .blog-post h4{
  font-weight: 500;
  color: #999999;
  margin: 0 0 1.6rem 0;
}

.team-member p{
  margin-bottom: 1.2rem;
}

/* === What we are === */

.what-we-are-slides-container{
  margin-top: .6rem;
  display: block;
}

.what-we-are{
  padding: 0 0 .6rem 0;
}

.what-we-are p{
  text-align: left;
  /* margin: 1.6rem 0 2.6rem; */
}

/* === How we work === */

.how-we-work{
  background-color: #fafafa;
  padding: .6rem 0 2rem 0;
}

.how-we-work h2{
  margin-bottom: 1.2rem;
}

.how-we-work-graphic{
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1.6rem;
}

.how-we-work-graphic p{
  font-weight: 700;
  margin-bottom: 2rem;
  font-size: .9rem;
}

.icon-how{
  color: #242424;
  font-size: 7.6rem;
  display: inline-block;
  margin-bottom: .6rem;
}

.steps{
  text-align: left;
  margin-top: 1.2rem;
}

.steps h3{
  margin-top: 0;
  margin-bottom: .2rem;
}

.steps p{
  margin-bottom: 2rem;
}

.right-column{
  float: right !important;
}

 /*=== Contact === */

.contact{
  padding: 0 .6rem 3rem .6rem;
}

.contact-text{
  text-align: left;
}

.social-contact li>a{
  color: #242424;
}

.social-contact li>a:hover{
  color: #40FC81;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.social-contact{
  margin-bottom: 0;
  margin-left: -1rem;
}

.social-sharing{
  margin: -.4rem 0;
}

.social-sharing p{
  margin: 0 !important;
  font-size: .96rem !important;
  font-weight: 700;
}

.social-sharing-last{
  margin-top: -1.2rem;
  margin-bottom: 1rem;
}

.social-sharing a{
  color: #252525 !important;
  border-bottom: none !important;
  /* font-size: 1.46rem; */
}

.social-sharing a:hover{
  color: #40FC81 !important;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.social-sharing li{
  margin: 0 .4rem !important;
  display: inline-block;
}

.social-sharing li:first-child{
  margin-left: -.4rem !important;
}

.required-fields p{
  margin-top: 1rem;
  font-size: .8rem;
}

 /*=== Contact form === */

input, label{
  display: block;
  text-align: left;
}

label{
  font-weight: 700;
  margin-bottom: .6rem;
  font-size: .9rem;
}

input, textarea{
  width: 100%;
  border-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid #979797;
  margin: 0 0 2rem 0;
  padding: .6rem 0;
  background-color:rgba(0, 0, 0, 0);
}

textarea{
  height: 5rem;
}

button{
  border-radius: 0;
  border-color: rgba(0, 0, 0, 0);
  display: block;
  font-weight: 700;
  cursor: pointer;
}

.contact-form button{
  display: inline-block;
  text-align: center;
}

button, input, optgroup, select, textarea{
  font-family: "proxima-nova", sans-serif;
  color: #242424;
}

/* === Work Modals === */

.modal{
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
}

.next-prev-modal{
  position: -webkit-sticky;
  position: sticky;
  top: 52%;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.next-prev-modal li{
  display: inline-flex;
}

.next-prev-modal a{
  font-size: 1rem;
  background-color: rgba(36,36,36,0.1);
  padding: 1.2rem;
  color: #242424;
}

.uk-modal{
  top: -3.6rem;
}

.uk-modal-dialog{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0);
  border-radius: 6px;
  text-align: left;
}

.close-button{
  float: right;
  font-size: 1.2rem:
}

.modal h3{
  margin-bottom: .3rem;
}

.modal h4{
  margin-bottom: .6rem;
}

.work-gallery{
  margin-top: 1.6rem;
}

.work-gallery figure{
  margin-bottom: 1rem;
}

.work-gallery .photo-caption{
  margin-top: 1.6rem !important;
}

.closure-image{
  width: 12rem;
  margin: 0 auto;
}

.prev-next span{
  vertical-align: middle;
  margin-right: .2rem;
}

.prev-next{
  text-align: left;
  font-size: .9rem;
  vertical-align: middle;
}

.next{
  float: right;
}

.next span{
  margin-left: .2rem;
}

/* ==== Footer ==== */

footer{
  background-color: #242424;
  color: #fff;
  text-align: center;
  padding: 3rem .6rem;
}

footer p{
  color: #fff;
  font-size: .9rem;
  font-weight: 300;
  line-height: 1.26rem;
  margin-bottom: .6rem;
}

.footer-logo{
  font-size: 2.8rem;
  color: #40FC81;
  display: block;
  margin-bottom: .4rem;
}

.footer-heart{
  font-size: .8rem;
  color: #FC3D53;
  vertical-align: middle;
}

.social li{
  margin: 0 .5rem;
  font-size: 1.2rem;
  vertical-align: middle;
}

.social li .icon-github{
  font-size: 1.4rem;
}

.social a{
  color: #40FC81;
}

.social a:hover{
  color: #fff;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

iframe{
  bottom: 4.6rem;
}

#sidenav{
  background: rgba(37, 37, 37, 0.1);
}

.sidenav-content{
  background-color: #fafafa;
  padding-top: 2rem;
  padding-left: 1.6rem;
  height: 100%;
  width: 36%;
}

.sidenav-content:after{
  background: rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.sidenav-content a{
  color: #252525;
  display: block;
  margin-bottom: .8rem;
  font-size: 1rem;
}

.sidenav-content a:hover{
  color: #40FC81;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.hamburger a:hover{
  border-bottom: 0;
  color: #40FC81;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

/* Blog */

.light-gray-bk{
  background-color: #fafafa;
}

.fluorescente-blog-logo{
  width: 14rem;
  display: block;
  margin: 0 auto;
}

.post-preview{
  background-color: #fff;
  display: inline-block;
  border-radius: .6rem;
  padding: 1.2rem 1rem;
  margin-bottom: 2rem;
}

.post-preview:hover{
  box-shadow: 0 .3rem 2rem rgba(200, 200, 200, 0.2);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.blog-posts{
  margin-top: -2.8rem;
}

.blog-posts h2, .blog-posts h4, .blog-posts p, .blog-post h2{
  text-align: left;
}

/* .blog-posts h2:after, .blog-post h1:after{
  content: '';
  display: block;
  width: 8%;
  height: 4px;
  margin-top: .6rem;
  background-color: #40FC81;
} */

.blog-posts h2 {
  margin-top: .6rem;
  margin-bottom: 1.2rem;
}

.blog-post h1:after{
  height: 6px;
  width: 9%;
  margin-top: 1.2rem;
}

.blog-posts h4{
  margin-bottom: 0;
}

.blog-posts p{
  font-weight: 400;
}

.blog-post a{
  border-bottom: 1px solid #40FC81;
}

.post-info{
  margin-top: .6rem;
}

.post-info-link{
  display: block;
  margin-top: 1.6rem;
}

.post-info a > span{
  font-size: .8rem;
  margin-left: .3rem;
  vertical-align: middle;
}

.blog-post-header{
  background-color: #fff;
  padding-top: 3.2rem;
  padding-bottom: 0;
}

.blog-post{
  margin: 1.6rem auto 2rem auto;
}

.blog-post h4{
  margin-bottom: .8rem;
}

.blog-post h1{
  margin: 0 0 1.6rem 0;
}

.blog-post h2{
  margin: 1.6rem 0 1.2rem 0;
}

.blog-post p{
  font-size: 1.02rem;
  line-height: 1.66rem;
  margin: 1.4rem 0;
}

.vegan-heart{
  font-size: .6rem;
  margin-left: .2rem;
}

/* Newsletter */
.newsletter-form-container{
  border-radius: .6rem;
  background-color: #fafafa;
  padding: 1.2rem 2.6rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.newsletter-form-container h2{
  margin-bottom: 2.6rem;
  text-align: left;
}

.newsletter-form-container input, .newsletter-form-container button{
  display: inline-block;
}

.newsletter-form-container input{
  margin-right: 1.6rem;
  margin-bottom: .6rem;
}

.newsletter-form-container button{
  margin-top: 1.2rem;
}

/* Blog */

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 0;
	height: 0;
  margin: 2rem 0 3rem 0;
}
.video-wrapper iframe, .video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.blog-image{
  margin: 2rem 0 3rem 0;
}

.photo-caption{
  font-size: .8rem !important;
  margin: -1.3rem 0 2rem 0 !important;
  line-height: 1.56rem !important;
  color: #5D5D5D;
}

.photo-caption-h1{
  margin-top: 1rem;
}
