---
layout: basic_structure
---
<section class="drawings">
  <!-- wrapper -->
  <div class="wrapper container-fluid">
    <!-- row -->
    <div class="row">
      <ul class="drawings-gallery">
        {% for post in site.posts %}
          {% if post.tags contains 'blog-gallery' %}
          <a href="{{ post.url }}">
            <li>
              <!-- col -->
              <div class="col-xs-12">
                <div class="drawing">
                  <figure>
                    <img src="{{ post.image }}" alt="">
                  </figure>
                  <h6>{{ post.title }}</h6>
                  <p class="author-date small">{{ post.author }}</p>
                </div>
              </div>
              <!-- col end -->
            </li>
          </a>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <!-- row end -->
  </div>
  <!-- wrapper end -->
</section>
