---
layout: basic_structure
---
<section class="drawings">
  <!-- wrapper -->
  <div class="wrapper container-fluid">
    <!-- row -->
    <div class="row">
      <ul class="drawings-gallery">

          <div uk-lightbox>
            {% for drawing in site.drawings %}
            <a href="{{ drawing.image }}" data-caption="{{ drawing.title }} / {{ drawing.author }}">
              <li>
                <!-- col -->
                <div class="col-xs-12">
                  <div class="drawing">
                    <figure>
                      <img src="{{ drawing.image }}" alt="">
                    </figure>
                    <h4>{{ drawing.title }}</h4>
                    <!-- <p class="author-date small">{{ drawing.author }}</p> -->
                  </div>
                </div>
                <!-- col end -->
              </li>
            </a>
            {% endfor %}
          </div>

      </ul>
    </div>
    <!-- row end -->
  </div>
  <!-- wrapper end -->
</section>
