---
layout: basic_structure
---
<header class="header-home">
  <!-- wrapper -->
  <div class="wrapper container-fluid">
    <!-- row -->
    <div class="row">
      <!-- col -->
      <div class="col-xs-12 center-xs col-lg-9 start-sm">
        <h1 class="h1-giant start-xs">{{ page.header_title }}</h1>
        <nav>
          <a href="/proyectos/" class="button button-big button-dark">{{ site.link_to_projects }}</a>
          <div class="break hidden-sm"></div>
          <a href="#" class="link link-base no-underline custom-underline">{{ site.link_to_contact }}</a>
        </nav>
      </div>
      <!-- col end -->
    </div>
    <!-- row end -->
  </div>
  <!-- wrapper end -->
</header>

<section class="index-projects">
  <!-- wrapper -->
  <div class="wrapper container-fluid">
    <!-- row -->
    <div class="row">
      <!-- col -->
      <div class="col-xs-12 center-xs">
        <!-- slideshow -->
        <div class="uk-position-relative uk-visible-toggle" tabindex="-1" uk-slideshow="animation: slide; ratio: 3:5">
          <ul class="uk-slideshow-items">
            {% for project in site.projects reversed %}
              <a href="{{ project.url }}" class="index-project">
                <li>
                  <!-- col -->
                  <div class="col-xs-5">
                    <figure class="index-project-logo">
                      <img src="{{ project.logo }}" alt="">
                    </figure>
                  </div>
                  <!-- col end -->
                  <!-- col -->
                  <div class="col-xs-12 start-xs">
                    <h3>{{ project.excerpt }}</h3>
                  </div>
                  <!-- col end -->
                  <!-- row -->
                  <div class="row bottom-xs">
                    <!-- col -->
                    <div class="col-xs-12 start-xs">
                      <div class="index-project-info">
                        <h6>{{ project.title }}</h6>
                        <p>{{ project.categories | join:' / '}}</p>
                      </div>
                    </div>
                    <!-- col end -->
                  </div>
                  <!-- row end -->
                </li>
              </a>
            {% endfor %}
          </ul>
          <!-- slideshow controls -->
          <div class="slideshow-controls">
            <a class="uk-position-center-left icon icon-left" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
            <a class="uk-position-center-right icon icon-right" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
          </div>
          <!-- slideshow controls end -->
          <!-- slideshow dotnav -->
          <div class="slideshow-dotnav">
            <ul class="ul-inline">
              <li uk-slideshow-item="0"><a href="#"></a></li>
              <li uk-slideshow-item="1"><a href="#"></a></li>
              <li uk-slideshow-item="2"><a href="#"></a></li>
              <li uk-slideshow-item="3"><a href="#"></a></li>
              <li uk-slideshow-item="4"><a href="#"></a></li>
            </ul>
          </div>
          <!-- slideshow dotnav end -->
        </div>
        <!-- slideshow end -->
      </div>
      <!-- col end -->
    </div>
    <!-- row end -->
    <!-- row -->
    <div class="row">
      <!-- col -->
      <div class="col-xs-12 center-xs">
        <a href="/proyectos/" class="link link-base no-underline custom-underline">{{ site.link_to_more_projects }}</a>
      </div>
      <!-- col end -->
    </div>
    <!-- row end -->
  </div>
  <!-- wrapper end -->
</section>

<section class="services" id="services">
  <!-- wrapper -->
  <div class="wrapper container-fluid">
    <!-- row -->
    <div class="row">
      <!-- col -->
      <div class="col-xs-12">
        <h3>{{ page.services_title }}</h3>
      </div>
      <!-- col end -->
    </div>
    <!-- row end -->
    <!-- row -->
    <ul class="row">
      {% for service in site.services %}
      <!-- col -->
      <li class="col-xs-12 col-sm-4">
        <figure>
          <img src="{{ service.image | relative_url  }}" alt="{{ service.title }}">
        </figure>
        <h4>{{ service.title }}</h4>
        <p>{{ service.description }}</p>
        <a href="#"></a>
      </li>
      <!-- col end -->
      {% endfor %}
    </ul>
    <!-- row end -->
  </div>
  <!-- wrapper end -->
</section>

<section class="team" id="team">
  <!-- wrapper -->
  <div class="wrapper container-fluid">
    <!-- row -->
    <div class="row">
      <!-- col -->
      <div class="col-xs-12">
        <h3>{{ page.team_title }}</h3>
      </div>
      <!-- col end -->
    </div>
    <!-- row end -->
    <!-- row -->
    <ul class="row">
      {% for team_member in site.team_members %}
        <!-- col -->
        <div class="col-xs-12 col-lg-6 team-member">
          <!-- row member-->
          <li class="row center-xs start-sm">
            <!-- col -->
            <div class="col-xs-6 col-sm-4">
              <figure>
                <img src="{{ team_member.image | relative_url }}" alt="{{ team_member.name }}">
              </figure>
            </div>
            <!-- col end -->
            <!-- col -->
            <div class="col-xs-12 col-sm-8">
              <h4>{{ team_member.name }}</h4>
              <p class="author-date small">{{ team_member.role }}</p>
              <p class="team-member-description">{{ team_member.description }}</p>
              <ul class="team-member-social ul-inline">
                {% if team_member.github_url != nil %}
                  <li><a href="{{ team_member.github_url }}" target="_blank" class="icon icon-github"></a></li>
                {% endif %}
                {% if team_member.behance_url != nil %}
                  <li><a href="{{ team_member.behance_url }}" target="_blank" class="icon icon-behance"></a></li>
                {% endif %}
              </ul>
            </div>
            <!-- col end -->
          </li>
          <!-- row member end -->
        </div>
        <!-- col-end -->
      {% endfor %}
    </ul>
    <!-- row end -->
    <!-- row -->
    <div class="row">
      <!-- col -->
      <div class="col-xs-12 center-xs">
        <a href="#" class="link link-base no-underline custom-underline">{{ site.link_to_contact }}</a>
      </div>
      <!-- col end -->
    </div>
    <!-- row end -->
  </div>
  <!-- wrapper end -->
</section>
