---
layout: basic_structure
---
<section>
  <!-- wrapper -->
  <div class="wrapper container-fluid">
    <!-- row -->
    <div class="row">
      <!-- col -->
      <div class="col-xs-12">
        <!-- project list -->
        <ul class="project-cards">
          {% for project in site.projects reversed %}
            <a href="{{ project.url }}">
              <li uk-scrollspy="cls: uk-animation-fade; delay: 100" class="{{ project.card_class }}">
                <!-- col -->
                <div class="col-xs-4">
                  <figure class="project-card-logo">
                    <img src="{{ project.logo | relative_url }}" alt="{{ project.title }} logo">
                  </figure>
                </div>
                <!-- col end -->
                <!-- col -->
                <div class="col-xs-12 start-xs">
                  <h3>{{ project.excerpt }}</h3>
                </div>
                <!-- col end -->
                <!-- row -->
                <div class="row bottom-xs">
                  <!-- col -->
                  <div class="col-xs-12 start-xs">
                    <div class="project-info">
                      <h6>{{ project.title }}</h6>
                      <p>{{ project.categories | join:' / '}}</p>
                    </div>
                  </div>
                  <!-- col end -->
                </div>
                <!-- row end -->
              </li>
            </a>
          {% endfor %}
        </ul>
        <!-- project list end -->
      </div>
      <!-- col end -->
    </div>
    <!-- row end -->
    <div class="row" uk-scrollspy="cls: uk-animation-fade; delay: 100">
      <!-- col -->
      <div class="col-xs-12 center-xs">
        <ul class="projects-end">
          <li><a href="{{ site.behance_url }}" target="_blank" class="link link-base no-underline custom-underline">{{ site.link_to_behance }}</a></li>
          <li><a uk-toggle="target: #contact-modal" href="#" class="link link-base no-underline custom-underline">{{ site.link_to_contact }}</a></li>
        </ul>
      </div>
      <!-- col end -->
    <!-- row end   -->
    </div>
  </div>
  <!-- wrapper end -->
</section>
