---
layout: basic_structure
---
<!-- wrapper -->
<div class="wrapper container-fluid">
  <!-- row -->
  <div class="row">
    <!-- col -->
    <div class="col-xs-12">
      <figure>
        <img src="{{ page.hero_image | relative_url }}" alt="">
      </figure>
    </div>
    <!-- col end -->
    <!-- col -->
    <div class="col-xs-12">
      <p>{{ page.categories | join: ' / ' }}</p>
      <h2>{{ page.title }}</h2>
      {{ content }}
    </div>
    <!-- col end -->
  </div>
  <!-- row end -->
  <!-- row end -->
  <div class="row">
    <!-- col -->
    <div class="col-xs-12 center-xs">
      <a href="#">Más proyectos en Behance</a>
      <a href="#">{{ site.link_to_contact }}</a>
    </div>
    <!-- col end -->
  <!-- row end   -->
</div>
<!-- wrapper end -->
