---
layout: basic_structure
---
<section class="services services-page" id="services">
  <!-- wrapper -->
  <div class="wrapper container-fluid">
    <!-- row -->
    <ul class="row" uk-scrollspy="cls: uk-animation-fade; delay: 100">
      {% for service in site.services %}
      <!-- col -->
      <li class="col-xs-12 col-sm-4">
        <figure>
          <img src="{{ service.image | relative_url  }}" alt="{{ service.title }}">
        </figure>
        <h4>{{ service.title }}</h4>
        <p>{{ service.description }}</p>
        <a href="#"></a>
      </li>
      <!-- col end -->
      {% endfor %}
    </ul>
    <!-- row end -->
    <!-- row -->
    <div class="row" uk-scrollspy="cls: uk-animation-fade; delay: 100">
      <!-- col -->
      <div class="col-xs-12 center-xs">
        <a uk-toggle="target: #contact-modal" class="link link-base no-underline custom-underline">{{ site.link_to_contact }}</a>
      </div>
      <!-- col end -->
    </div>
    <!-- row end -->
  </div>
  <!-- wrapper end -->
</section>
