---
layout: basic_structure_no_nav_no_footer
---
<section class="suscribe-unsuscribe">
  <!-- wrapper -->
  <div class="wrapper container-fluid">
    <!-- row -->
    <div class="row center-xs middle-xs content">
      <!-- col -->
      <div class="col-xs-12">
        <div class="logo">
          <span class="icon icon-fluoresecente-logo"></span>
        </div>
        <h2>{{ page.title }}</h2>
        <p>{{ page.paragraph }}</p>
        <a href="/blog" class="button button-big button-dark">{{ page.button }}</a>
      </div>
      <!-- col end -->
    </div>
    <!-- row end -->
  </div>
  <!-- wrapper end -->
</section>
