<footer class="basic-styles-and-components-footer">
  <div class="footer-content boxed-width">
    <div class="footer-text">
      {% for item in site.data.basic-styles-and-components-landing-footer-text %}
        <p class="p-s">{{ item.footer-text | markdownify | remove: '<p>' | remove: '</p>' }}</p>
      {% endfor %}  
    </div>
    <a href="{{ site.ko-fi_url }}" target="_blank" class="button button-m button-icon-left"><span class="icon icon-ko-fi"></span>Aporta en Ko-fi</a>
  </div>
</footer>  

<!-- UiKit JavaScript -->
<script defer src="{{ 'assets/js/uikit.min.js' | relative_url }}"></script>
<script defer src="{{ 'assets/js/uikit-icons.min.js' | relative_url }}"></script>

{% include basic-styles-and-components-nav-modal.html %}

{% include basic-styles-and-components-landing-nav-modal.html %}