<!-- Header Two Columns 01-->
<header class="header-two-columns-01 full-width">
  <!-- Slideshow -->
  <div uk-slideshow="ratio: 1:1; animation:push; autoplay:true; autoplay-interval: 4000">
    <div class="slideshow-content" tabindex="-1">
      <div class="uk-slideshow-items">
        {% for item in site.data.basic-header-two-columns-01-slideshow-images %}
        <img 
          srcset="
            {{ item.image-xs }} 750w,
            {{ item.image-sm }} 696w,
            {{ item.image-lg }} 1048w"
          sizes="
            (min-width: 1025px) 704px,
            (min-width: 641px) 348px,
            375px"
          src="{{ item.src }}"  
          alt="{{ item.alt }}"
          loading="lazy" uk-cover>
        {% endfor %}
      </div>
      <a class="uk-position-center-left prev" href uk-slidenav-previous uk-slideshow-item="previous"><span class="icon icon-prev"></span></a>
      <a class="uk-position-center-right next" href uk-slidenav-next uk-slideshow-item="next"><span class="icon icon-next"></span></a>
      <ul class="uk-slideshow-nav uk-dotnav"></ul>
    </div>  
  </div> 
  <!-- Text  -->
  <div class="header-content">
    <div class="header-text">
      {% for item in site.data.basic-header-texts %}
      <h1 class="h-xxl">{{ item.heading }}</h1>
      <p class="p-base">{{ item.text }}</p>
      {% endfor %}
    </div>  
    <ul class="header-buttons">
      {% for item in site.data.basic-header-buttons %}
      <li><a href="{{ item.url }}" class="button {{ item.button-size }} {{ item.button-type }} {{ item.button-icon-position }}" ><span class="{{ item.button-icon-left }}"></span>{{ item.button-text }}<span class="{{ item.button-icon-right }}"></span></a></li>
      {% endfor %}
    </ul>
  </div>
</header>
<!-- Header Two Columns 01 end-->  