<!-- Card horizontal -->
<a href="{{ item.fake-link }}" class="card card-horizontal">
  <figure>
    <img 
      srcset="
        {{ item.image-xs }} 686w,
        {{ item.image-sm }} 696w,
        {{ item.image-lg }} 560w"
      sizes="
        (min-width: 1025px) 280px,
        (min-width: 641px) 348px,
        343px"
      src="{{ item.src }}"  
      alt="{{ item.thumbnail-alt }}"
      loading="lazy">
  </figure>
  <div class="card-text">
    <h3 class="card-heading">{{ item.heading | markdownify | remove: '<p>' | remove: '</p>' }}</h3>
    <p class="p-s">{{ item.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}</p>
  </div>
</a>
<!-- Card horizontal end -->