<footer>
  <!-- wrapper -->
  <nav class="wrapper container-fluid" uk-scrollspy="cls: uk-animation-fade; delay: 100">
    <!-- row -->
    <ul class="row center-xs footer-nav">
      <!-- col -->
      <div class="col-xs-12 footer-logo">
        <li><a href="/" class="icon icon-fluoresecente-logo no-underline"></a></li>
      </div>
      <!-- col end -->
      <!-- col -->
      <div class="col-xs-12 footer-links">
        <li><a href="/proyectos/" class="link no-underline link-base">Proyectos</a></li>
        {% if page.url == "/" %}
          <li><a href="/#que-hacemos" class="link no-underline link-base">Qué hacemos</a></li>
          <li><a href="/#nosotros" class="link no-underline link-base">Nosotros</a></li>
        {% elsif page.url != "/" %}
          <li><a href="/que-hacemos" class="link no-underline link-base">Qué hacemos</a></li>
          <li><a href="/nosotros" class="link no-underline link-base">Nosotros</a></li>
        {% endif %}
        <li><a href="/dibujos/" class="link no-underline link-base">Dibujos</a></li>
        <li><a uk-toggle="target: #contact-modal" class="link no-underline link-base">{{ site.link_to_contact }}</a></li>
      </div>
      <!-- col end -->
    </ul>
    <!-- row end -->
    <div class="row">
      <!-- col -->
      <div class="col-xs-12 center-xs">
        <p>@2021 Fluorescente. Hecho con <span class="icon icon-heart-fill"></span> en Medellín.</p>
        <ul class="center-xs start-sm ul-inline footer-social">
          {% if site.github_url != nil %}
            <li><a href="{{ site.github_url }}" target="_blank" class="icon icon-github no-underline"></a></li>
          {% endif %}
          {% if site.behance_url != nil %}
            <li><a href="{{ site.behance_url }}" target="_blank" class="icon icon-behance no-underline"></a></li>
          {% endif %}
          {% if site.dribbble_url != nil %}
            <li><a href="{{ site.dribbble_url }}" target="_blank" class="icon icon-dribbble no-underline"></a></li>
          {% endif %}
<!--      {% if site.deviant_art_url != nil %}
            <li><a href="{{ site.deviant_art_url }}" target="_blank" class="icion icon-deviant-art no-underline"></a></li>
          {% endif %} -->
          {% if site.meetup_url != nil %}
            <li><a href="{{ site.meetup_url }}" target="_blank" class="icon icon-meetup no-underline"></a></li>
          {% endif %}
          {% if site.telegram_url != nil %}
            <li><a href="{{ site.telegram_url }}" target="_blank" class="icon icon-telegram no-underline"></a></li>
          {% endif %}
        </ul>
      </div>
      <!-- col end -->
    </div>
    <!-- row -->
  </nav>
  <!-- wrapper end -->
</footer>
