<footer>
  <!-- wrapper -->
  <nav class="wrapper container-fluid">
    <!-- row -->
    <ul class="row center-xs start-sm footer-nav">
      <!-- col -->
      <div class="col-xs-12 col-sm-3 col-lg-2 start-sm footer-logo">
        <li><a href="/" class="icon icon-fluorsecente-logo no-underline"></a></li>
      </div>
      <!-- col end -->
      <!-- col -->
      <div class="col-xs-12 col-sm-3 start-sm">
        <li><a href="/proyectos/" class="link no-underline link-base">Proyectos</a></li>
        <li><a href="/#services" class="link no-underline link-base">Que hacemos</a></li>
        <li><a href="/#team" class="link no-underline link-base">Equipo</a></li>
      </div>
      <!-- col end -->
      <!-- col -->
      <div class="col-xs-12 col-sm-3 start-sm">
        <li><a href="#" class="link no-underline link-base">Escríbenos</a></li>
        <li><a href="#" class="link no-underline link-base">Blog</a></li>
        <li><a href="#" class="link no-underline link-base">Dibujos</a></li>
      </div>
      <!-- col end -->
      <!-- col -->
      <div class="col-xs-12 col-sm-3 start-sm">
        <li><a href="#" class="link no-underline link-base">Impressum</a></li>
        <li><a href="#" class="link no-underline link-base">Política de protección de datos</a></li>
      </div>
      <!-- col end -->
    </ul>
    <!-- row end -->
    <div class="row">
      <!-- col -->
      <div class="col-xs-12">
        <p>@2021 Fluorescente. Hecho con heart en Medellín.</p>
        <ul class="center-xs">
          {% if site.github_username != nil %}
            <li><a href="#" class="icon icon-github no-underline"></a></li>
          {% endif %}
          {% if site.behance_username != nil %}
            <li><a href="#" class="icon icon-behance no-underline"></a></li>
          {% endif %}
          {% if site.dribbble_username != nil %}
            <li><a href="#" class="icon icon-dribbble no-underline"></a></li>
          {% endif %}
          {% if site.deviant_art_username != nil %}
            <li><a href="#" class="icion icon-deviant-art"></a></li>
          {% endif %}
          {% if site.meetup_username != nil %}
            <li><a href="#" class="icon icon-meetup"></a></li>
          {% endif %}
          {% if site.telegram_username != nil %}
            <li><a href="#" class="icon icon-telegram"></a></li>
          {% endif %}
        </ul>
      </div>
      <!-- col end -->
    </div>
    <!-- row -->
  </nav>
  <!-- wrapper end -->
</footer>
