:root{
  // Colors
  --fluorescente: #23EEB4;
}

.fluorescente{
  body{
    background-color: var(--text);
    display: flex;
    align-items: center;
    header{
      padding-top: 4rem;
      padding-bottom: 2rem;
      h1, h2{
        color: var(--neutral-0);
      }
      a{
        color: var(--fluorescente);
        border-bottom: 2px solid var(--fluorescente);
        &:hover{
          background-color: initial;
          color: var(--neutral-40);
          border-bottom: 2px solid var(--neutral-40);
        }
      }
    }
  }
}

.fluorescente-404{
  body{
    background-color: var(--text);
  }
}

.not-found-container{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }

.not-found{
  header{
    text-align: center;
    height: 8rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    .illustration{
      font-size: 8rem;
      position: relative;
      top: -1.25rem;
      color: var(--fluorescente);
    }
  }

  main{
    text-align: center;
    margin-bottom: 2rem;
    color: var(--neutral-0);
    h1{
      font-size: var(--h-xxl);
      margin-bottom: 1rem;
      color: var(--neutral-0);
    }
    .main-text{
      margin-bottom: 2rem;
    }
    .button{
      color: var(--fluorescente);
      border: 2px solid var(--fluorescente);
      &:hover{
        background-color: var(--fluorescente);
        color: var(--text);
      }
    }
  }
}

// Sm screens
@media screen and (min-width: 641px) {
  .fluorescente{
    body{
      height: 100vh;
      header{
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }

  .not-found-container{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    main{
      max-width: 800px;
    }
  }

}