.full-width,
.boxed-width {
  padding: 0 1rem;
  margin: 0 auto;
}

.full-width {
  max-width: 1448px;
}

.boxed-width {
  max-width: 1216px;
}

.hidden-xs {
  display: none;
}

.visible-xs {
  display: block;
}

.bright {
  background-color: var(--bright);
}

.neutral-0 {
  background-color: var(--neutral-0);
}

.neutral-10 {
  background-color: var(--neutral-10);
}

.neutral-20 {
  background-color: var(--neutral-20);
}

.neutral-30 {
  background-color: var(--neutral-30);
}

.neutral-40 {
  background-color: var(--neutral-40);
}

.neutral-50 {
  background-color: var(--neutral-50);
}

.neutral-60 {
  background-color: var(--neutral-60);
}

.neutral-70 {
  background-color: var(--neutral-70);
}

.neutral-80 {
  background-color: var(--neutral-80);
}

.neutral-90 {
  background-color: var(--neutral-90);
}

.text {
  background-color: var(--text);
}