// Fluore_scente
// Design and Development. Fluorescente github: @fluorescente
// fluorescente.design

// Type scale: https://www.modularscale.com/?16&px&1.2

// Variables

// Color variables

$brand: #23EEB4;
$dark: #000;
$blanch: #fff;
$bright: #fff;
$gray-0: #f9f8f7;
$gray-1: #d9d7d5;
$gray-2: #b9b6b4;
$gray-3: #999592;
$gray-4: #787470;
$gray-5: #58534f;

$transparent: rgba(0,0,0,0);
$box-shadow: 0 0 6px 4px rgba(0,0,0,0.1);

$border-line: 1px dotted $dark;
$border-input: 1px solid $dark;

$transition: .7s ease;
$transition-quick: .4s ease;
$animated-underline: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;

$transform-scale: scale(1.03);
$transform-scale-small: scale(1.01);

// Type variables

$headings: 'YoungSerif', sans-serif;
$paragraphs: 'DM Sans', sans-serif;

$regular: 400;
$regular-italic: 400i;
$bold: 700;
$bold-italic: 700i;

$small: 0.79rem;
$small-line-height: 1.266rem;
$mid: 1.125rem;
$mid-line-height: 1.802rem;

// Space variables

// 4px
$quarter-space: .25rem;
// 8px
$half-space: .5rem;
// 12px
$half-space-and-quarter: .75rem;
// 16px
$space: 1rem;
// 24px
$space-and-half: 1.5rem;
// 32px
$two-spaces: 2rem;
// 48px
$three-spaces: 3rem;
// 64px
$four-spaces: 4rem;
// 80px
$five-spaces: 5rem;
// 96px
$six-spaces: 6rem;
// 128px
$eight-spaces: 8rem;

// Styles

// General

body{
  font-family: $paragraphs;
  font-weight: $regular;
  color: $dark;
  background-color: $bright;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

figure{
  margin: 0;
  & img{
    width: 100%;
  }
}

a{
  font-weight: $bold;
  color: $dark;
  text-decoration: none;
  border-bottom: 1px solid $brand;
  cursor: pointer;
  &:hover{
    color: $brand;
    border-bottom: 1px solid $transparent;
    text-decoration: none;
  }
}

ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li{
  margin: 0;
}

button, input, optgroup, select, textarea{
  font-family: $paragraphs;
  color: $dark;
}

::selection, -moz-selection{
  color: $dark;
  background: $brand;
}

.ul-inline{
  display: inline-block;
  & li{
    display: inline-block;
  }
}

.underline{
  text-decoration: underline;
}

.no-underline{
  text-decoration: none;
}

.custom-underline{
  display: inline-block;
  &:after{
    content: "";
    display: block;
    background-color: $transparent;
    width: 40%;
    height: 2px;
    position: relative;
    top: $half-space;
    margin: 0 auto;
    transition: $animated-underline;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    // transition: $transition;
    // -webkit-transition: $transition;
    // -moz-transition: $transition;
  }
  &:hover{
    color: $dark;
    //
    &:after{
      background-color: $dark;
      transform: scaleX(1);
      -webkit-transform: scaleX(1);
    }
  }
}

.active{
  &:after{
    background-color: $dark;
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
  }
}

.break{
  display: block;
  content: '';
}

:focus{
  outline: 0;
}

// Type styles

h1, h2, h3, h4, h5, h6{
  font-family: $headings;
  // letter-spacing: .08rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
  color: $dark;
}

// Headings

.h1-giant{
  font-size: 3.653rem;
  line-height: 5.202rem;
}

h1{
  font-size: 2.027rem;
  line-height: 2.887rem;
}

h2{
  font-size: 1.602rem;
  line-height: 2.281rem;
}

h3{
  font-size: 1.266rem;
  line-height: 1.802rem;
}

h4{
  font-size: 1.125em;
  line-height: 1.602rem;
}

h5, h6{
  font-size: 1rem;
  line-height: 1.424rem;
}

// Paragraphs

p{
  margin: 0;
}

.p-giant, .giant{
  font-size: 1.802rem;
  line-height: 2.887rem;
}

.p-big, .big{
  font-size: 1.424rem;
  line-height: 2.281rem;
}

.p-mid, .mid{
  font-size: 1.125rem !important;
  line-height: 1.802rem !important;
}

p, .base{
  font-size: 1rem;
  line-height: 1.602rem;
}

.p-small, .small{
  font-size: 0.79rem !important;
  line-height: 1.266rem !important;
}

.p-micro, .micro{
  font-size: 0.702rem;
  line-height: 1.125rem;
}

// Misc

.author-date{
  font-family: $headings;
  text-transform: uppercase;
  letter-spacing: .16rem;
  line-height: 1.125rem;
}

// link/buttons

.link, .button{
  font-family: $headings;
  text-transform: uppercase;
  font-weight: normal;
  font-style: normal;
  border-bottom: 0;
  &:hover{
    border-bottom: 0;
  }
}

.link{
  &:hover{
    color: inherit;
  }
}

.button{
  text-decoration: none;
  display: inline-block;
  &:hover{
    transition: $transition;
    -webkit-transition: $transition;
    -moz-transition: $transition;
  }
}

.link-base, .button-big{
  font-size: 0.889rem;
  line-height: 1.424rem;
  letter-spacing: .23rem;
}

// Buttons

.button-big{
  padding: $half-space-and-quarter $space-and-half;
}

.button-dark{
  color: $bright;
  background-color: $dark;
  &:hover{
    color: $dark;
    background-color: $brand;
  }
}

.input-button{
  width: inherit;
}

// main nav mobile

.main-nav-mobile, .main-nav{
  padding: $space 0;
  & a{
    border-bottom: 0;
    &:hover{
      border-bottom: 0;
    }
  }
  & .main-nav-logo-desk{
    &:hover{
      // transition: $transition;
      color: $dark;
      // position: relative;
      // top: -$quarter-space;
    }
  }
  & .icon-kirby-crackle{
    font-size: 2.5rem;
  }
  & .icon-hamburger-bite{
    font-size: $space-and-half;
    margin-top: .75rem;
    display: inline-block;
  }
}

.main-nav-mobile{
  & .icon-hamburger-bite{
    &:hover{
      color: $gray-3;
    }
  }
  & .icon-kirby-crackle{
    &:hover{
      // transition: $transition;
      color: $dark;
      // position: relative;
      // top: -$quarter-space;
    }
  }
}

// home

// mobile nav
.modal-nav{
  & .modal-nav-wrapper{
    height: 100%;
  }
  & .modal-nav-body{
    background-color: $dark;
    color: $bright;
    height: 100%;
    display: block;
    & .middle-xs{
      height: 100%;
    }
    & a{
      color: $bright;
      border-bottom: 0;
      &:hover{
        color: $brand;
        border-bottom: 0;
      }
    }
    & .icon-close{
      font-size: 1.75rem;
      color: $bright;
      padding: $space $space-and-half;
      &:hover{
        color: $brand;
      }
      & svg{
        display: none;
      }
    }
    & .modal-nav-links{
      & .uk-modal-close-default{
        position: inherit;
      }
      & a{
        display: inline-block;
        margin-bottom: $space;
      }
      & .modal-nav-logo{
        margin-bottom: $three-spaces;
        & a{
          font-size: $four-spaces;
        }
      }
    }
    & .modal-nav-social{
      margin-top: $three-spaces;
      & li{
        font-size: 1.25rem;
        margin-right: $half-space-and-quarter;
        &:last-child{
          margin-right: 0;
        }
      }
    }
  }
}

// header

.header-home{
  padding: $four-spaces 0;
  & h1{
    margin-bottom: $three-spaces;
  }
  & nav{
    & .button{
      margin-bottom: $space-and-half;
    }
  }
}

// projects

.index-projects{
  padding: $three-spaces 0 $four-spaces 0;
  background-color: $gray-0;
  background-image: url(../images/backgrounds/projects-sm.png);
  background-size: contain;
  & .uk-slideshow-items{
    border-radius: $half-space;
  }
  & .index-project{
    border-radius: $half-space;
    background-color: $blanch;
    margin-bottom: $space;
    padding: $space-and-half;
    border-bottom: 0;
    font-weight: normal;
    background-size: cover;
    &:hover, &:focus, &:active{
      transition: $transition;
      -webkit-transition: $transition;
      -moz-transition: $transition;
      font-weight: normal;
      color: $dark;
      border-bottom: 0;
    }
    & li{
      height: 100%;
      display: grid;
    }
    & .index-project-logo{
      text-align: left;
      & img{
        width: inherit;
      }
    }
  }
  & .index-project-info{
    & h6{
      margin-bottom: $quarter-space;
    }
  }
  & .uk-slidenav-previous, .uk-slidenav-next{
    &:after{
      content: "";
    }
  }
  & .slideshow-controls{
    & a{
      font-size: $space-and-half;
      color: $dark;
      border-bottom: 0;
      &:hover{
        color: $gray-3;
        border-bottom: 0;
      }
      & svg{
        display: none;
      }
    }
    & .icon-left{
      left: -2rem;
    }
    & .icon-right{
      right: -2rem;
    }
  }
  & .slideshow-dotnav{
    margin-bottom: $two-spaces;
    & li{
      margin-right: $half-space;
      &:last-child{
        margin-right: 0;
      }
    }
    & a{
      display: inline-block;
      width: .375rem;
      height: .375rem;
      background-color: $gray-1;
      border-bottom: 0;
      border-radius: 50%;
      &:hover{
        background-color: $dark;
      }
    }
    & .uk-active{
      & a{
        background-color: $dark;
      }
    }
  }
}

.project-cards{
  margin-top: $space;
  & li{
    border-radius: $half-space;
    background-color: $gray-0;
    display: grid;
    margin-bottom: $two-spaces;
    padding: $space-and-half $space $space;
    padding-bottom: $two-spaces;
    background-position: top center;
    background-size: cover;
    height: 28rem;
    transition: $transition;
    -webkit-transition: $transition;
    -moz-transition: $transition;
    &:hover{
      color: $dark;
      // box-shadow: $box-shadow;
      // -webkit-box-shadow: $box-shadow;
      // -moz-box-shadow: $box-shadow;
      transform: $transform-scale;
    }
    & .project-info{
      & h6{
        margin-bottom: $quarter-space;
      }
      & p{
        font-weight: $regular;
        color: $dark;
      }
    }
    & .project-card-logo{
      & img{
        width: inherit;
      }
    }
  }
}

.projects-end{
  margin: $space 0 $four-spaces 0;
  & li{
    margin-bottom: $two-spaces;
  }
}

.project-page{
  & .project-hero-image{
    margin: $space 0 $two-spaces 0;
  }
  & .author-date{
    margin-bottom: 0;
  }
  & h2{
    margin-bottom: $space-and-half;
  }
  & .content{
    margin-bottom: $three-spaces;
    & p{
      font-size: $mid;
      line-height: $mid-line-height;
      margin-bottom: $space-and-half;
    }
    & img{
      margin-bottom: $two-spaces;
      &:first-child{
        margin-top: $space-and-half;
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  & .project-images{
    & figure{
      margin-bottom: $two-spaces;
    }
  }
  & .prev-next{
    margin: $space 0;
    & a{
      border-bottom: $transparent;
      &:hover{
        color: $gray-3;
      }
    }
    & .icon{
      font-size: $two-spaces;
    }
  }
}

.taller-veganista-card{
  background-color: #FFB6C6 !important;
  background-image: url(../images/backgrounds/taller-veganista-card-background-xs.jpg);
}

.del-arquitecto-card{
  background-color: #f2eee9 !important;
  background-image: url(../images/backgrounds/del-arquitecto-card-background-xs.jpg);
}

.volumen-vohnen-card{
  background-color: #fec611 !important;
  background-image: url(../images/backgrounds/volumen-vohnen-background-xs.png);
}

.treebox-ebooks-card{
  background-color: #e2f1f7 !important;
  background-image: url(../images/backgrounds/treebox-ebooks-background-xs.png);
}


// services

.services{
  padding: $three-spaces 0 $four-spaces 0;
  & h3{
    margin-bottom: $two-spaces;
  }
  & ul{
    & li{
      margin-bottom: $three-spaces;
      &:last-child{
        margin-bottom: 0;
      }
      & figure{
        margin-bottom: $space-and-half;
      }
      & h4{
        margin-bottom: $space;
      }
    }
  }
}

.services-page{
  padding: $two-spaces 0 $four-spaces 0 !important;
  & ul{
    margin-bottom: $three-spaces;
  }
}

// Team

.team{
  background-color: $gray-0;
  background-image: url(../images/backgrounds/team-xs.png);
  background-size: cover;
  padding: $three-spaces 0;
  & h3{
    margin-bottom: $two-spaces;
  }
  & .team-member{
    margin-bottom: $three-spaces;
    &:last-child{
      margin-bottom: $space-and-half;
    }
    & figure{
      margin-bottom: $space;
    }
    & h4{
      margin-bottom: $quarter-space;
    }
    & .author-date{
      margin-bottom: $space;
    }
    & .team-member-description{
      margin-bottom: $space;
    }
    & .team-member-social{
      & li{
        margin-right: $half-space-and-quarter;
        &:last-child{
          margin-right: 0;
        }
      }
      & a{
        font-size: 1.25rem;
        border-bottom: 0;
        &:hover{
          border-bottom: 0;
        }
      }
    }
  }
}

.team-page{
  padding: $space 0 $four-spaces 0 !important;
  background-color: $transparent;
  background-image: none !important;
}

// Contact modal

.contact-modal{
  & .contact-modal-wrapper{
    height: 100%;
  }
  & .contact-modal-body{
    background-color: $gray-0;
    color: $dark;
    display: block;
  }
  & h3{
    // color: $bright;
  }
  & .icon-close{
    font-size: 1.75rem;
    // color: $bright;
    color: $dark;
    padding: $space $space-and-half;
    &:hover{
      color: $gray-3;
    }
    & svg{
      display: none;
    }
  }
  & .contact-page{
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    margin: $four-spaces 0 $two-spaces 0;
    & a{
      // color: $bright;
      // color: $dark;
      font-weight: $regular;
    }
  }
  & form{
    margin-top: $two-spaces;
    & .button{
      margin-bottom: $space;
    }
    & input, & textarea{
      &:focus{
        background-color: $bright;
      }
    }
  }
}

// Form

input, label{
 display: block;
 text-align: left;
}

label{
 font-family: $headings;
 margin-bottom: $half-space;
}

input, textarea{
 width: 100%;
 border-color: rgba(0, 0, 0, 0);
 border-bottom: $border-input;
 margin: 0 0 $space-and-half 0;
 padding: $space;
 background-color:rgba(0, 0, 0, 0);
 &:focus{
   background-color: $gray-0;
 }
}

textarea{
 height: $five-spaces;
}

button{
 border-radius: 0;
 border-color: rgba(0, 0, 0, 0);
 display: block;
 font-weight: 700;
 cursor: pointer !important;
}

// Blog

.posts-list{
  margin-top: $space;
  margin-bottom: $three-spaces;
  & .post-card{
    font-weight: $regular;
    background-color: $gray-0;
    padding: $two-spaces $space $three-spaces $space;
    margin-bottom: $two-spaces;
    border-radius: $half-space;
    &:hover{
      color: $dark;
      // box-shadow: $box-shadow;
      transition: $transition;
      -webkit-transition: $transition;
      -moz-transition: $transition;
    }
    & figure{
      margin-bottom: $space-and-half;
    }
    & h3{
      margin-bottom: $quarter-space;
    }
    .post-info{
      margin-bottom: $two-spaces;
    }
  }
}

// Post

.post{
  margin-bottom: $four-spaces;
  & .post-hero-image{
    margin: $space 0 $two-spaces 0;
  }
  & .post-info{
    margin-bottom: 0;
  }
  & h2{
    margin-bottom: $two-spaces;
  }
  & .content{
    margin-bottom: $four-spaces;
    & p{
      font-size: $mid;
      line-height: $mid-line-height;
      margin-bottom: $space-and-half;
    }
  }
  & .prev-next{
    & a{
      font-weight: $regular;
      &:hover{
        color: $gray-3;
      }
      & .icon{
        font-size: $two-spaces;
      }
    }
  }
}

// Drawings

.drawings-gallery{
  margin-top: $space;
  & a{
    font-weight: $regular;
    &:hover{
      color: $dark;
      & h4, & h5, & h6{
        // color: $gray-3;
      }
    }
  }
  & li{
    margin-bottom: $two-spaces;
    transition: $transition;
    -webkit-transition: $transition;
    -moz-transition: $transition;
    &:hover{
      transform: $transform-scale;
    }
    & figure{
      margin-bottom: $half-space;
    }
    & h4, & h5, & h6{
      margin-bottom: $space;
    }
  }
}

.drawing-open{
  margin-top: $four-spaces;
  & figure{
    margin-bottom: $space;
  }
  & h4, & h5, & h6{
    margin-bottom: $half-space;
  }
}

.uk-lightbox{
  background-color: $gray-0;
  & .uk-close{
    margin: $space-and-half $space;
    color: $dark;
    font-family: 'icomoon' !important;
    font-size: 1.75rem !important;
    &:hover, &:active, &:focus{
      color: $gray-3;
    }
    &:after{
      content: "\e908";
    }
    & svg{
      display: none;
    }
  }
}

.uk-lightbox-toolbar{
  background: $transparent;
}

.uk-lightbox-caption{
  color: $dark;
  font-family: $headings;
  padding-bottom: $two-spaces;
  // font-size: $small;
}

.uk-lightbox-button{
  color: $dark;
  background-color: $transparent;
  font-family: "icomoon";
  font-size: $two-spaces;
  &:hover, &:active, &:focus{
    color: $gray-2;
  }
  & svg{
    display: none;
  }
}

.uk-slidenav-previous{
  &:after{
    content: "\e903";
  }
}

.uk-slidenav-next{
  &:after{
    content: "\e904";
  }
}

// Suscribe

.suscribe{
  padding: $two-spaces $space;
  background-color: $gray-0;
  margin-bottom: $three-spaces;
  & h3{
    margin-bottom: $two-spaces;
  }
  & form{
    margin-bottom: $space;
  }
  & label{
    font-family: $headings;
  }
  & input, textarea{
    &:focus{
      background-color: $bright;
    }
  }
  & .button{
    margin-bottom: $space
  }
  & input[type="email"]{
    width: 86%;
  }
}

// Footer

footer{
  padding: $four-spaces 0;
  background-color: $dark;
  color: $bright;
  & a{
    color: $bright;
    border-bottom: 0;
    &:hover{
      color: $brand !important;
      border-bottom: 0;
    }
  }
  & .footer-nav{
    margin-bottom: $three-spaces;
    & a{
      display: inline-block;
      margin-bottom: $space;
    }
  }
  & .footer-logo{
    margin-bottom: $three-spaces;
    & a{
      font-size: $four-spaces;
    }
  }
  & .icon-heart-fill{
    color: $brand;
  }
  & .footer-social{
    margin-top: $space;
    & li{
      font-size: 1.25rem;
      margin-right: $half-space-and-quarter;
      &:last-child{
        margin-right: 0;
      }
    }
  }
}

// 404

.four-zero-four{
  margin: $three-spaces 0 $four-spaces 0;
  & figure{
    margin-bottom: -$half-space;
  }
  & h1{
    margin-bottom: $quarter-space;
  }
  & p{
    margin-bottom: $space;
  }
}

// Suscribe / cancel

.suscribe-unsuscribe{
  & .content{
    height: 100vh;
  }
  & .logo{
    font-size: $five-spaces;
    display: block;
    margin-bottom: $space;
    border-bottom: $transparent;
    &:hover{
      color: $dark;
    }
  }
  & h2, & h3{
    margin-bottom: $space;
  }
  & p{
    margin-bottom: $two-spaces;
  }
}
