/* line 79, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles-club.scss */
html {
  background-image: url(../images/papel-claro.jpg);
}

/* line 83, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles-club.scss */
body {
  font-family: "Montegu Slab", sans-serif;
  font-weight: 400;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

/* line 92, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles-club.scss */
:focus {
  outline: 0;
}

/* line 96, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles-club.scss */
figure {
  margin: 0;
}

/* line 98, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles-club.scss */
figure img {
  width: 100%;
}

/* line 103, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles-club.scss */
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* line 109, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles-club.scss */
li {
  margin: 0;
}

/* line 113, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles-club.scss */
button, input, optgroup, select, textarea {
  font-family: "Montegu Slab", sans-serif;
  color: #000;
}

/* line 118, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles-club.scss */
a {
  font-weight: 600;
  color: #000;
  border-bottom: 1px solid #000;
}

/* line 122, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles-club.scss */
a:hover {
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid #23EEB4;
}

/* line 129, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles-club.scss */
::selection, -moz-selection {
  color: #000;
  background: #23EEB4;
}

/* line 134, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles-club.scss */
.ul-inline {
  display: inline-block;
}

/* line 136, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles-club.scss */
.ul-inline li {
  display: inline-block;
}

/* line 141, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles-club.scss */
.underline {
  text-decoration: underline;
}

/* line 145, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles-club.scss */
.no-underline {
  text-decoration: none;
}

/* line 149, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles-club.scss */
h1, h2, h3, h4, h5 {
  font-family: "Montegu Slab", sans-serif;
  font-weight: 600;
  margin-top: 0;
  color: #000;
}

/* line 156, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles-club.scss */
.heading-xs {
  margin-bottom: 1rem;
}

/* line 160, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles-club.scss */
.heading-sm {
  margin-bottom: 2rem;
}

/* line 164, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles-club.scss */
.lettering-title {
  background-image: url(../images/club-de-dibujo.svg);
  width: 100%;
  height: 4rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left top;
  margin-bottom: 1rem;
}

/* line 172, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles-club.scss */
.lettering-title span {
  display: none;
}

/* line 177, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles-club.scss */
h3 {
  font-size: 1.425rem;
  line-height: 1.781rem;
}

/* line 182, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles-club.scss */
h5 {
  font-size: 1.125rem;
  line-height: 1.406rem;
  margin-bottom: 0.25rem;
}

/* line 188, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles-club.scss */
.form-comment {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

/* line 194, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles-club.scss */
.copy p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

/* line 202, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles-club.scss */
footer {
  background-image: url(../images/papel-medio.jpg);
  padding: 2rem 0 4rem 0;
}

/* line 207, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles-club.scss */
.club-de-dibujo-heading {
  text-align: center;
  margin-bottom: 2rem;
}

/* line 212, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles-club.scss */
::placeholder {
  color: #787470;
}

/* line 216, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles-club.scss */
.contact-form {
  margin-bottom: 2rem;
}

/* line 217, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles-club.scss */
.contact-form input {
  padding: 0.5rem 0 0.5rem 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #787470;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  font-size: 1rem;
}

/* line 231, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles-club.scss */
.button, .submit-button {
  cursor: pointer;
  margin-top: 1rem;
  background-color: #000;
  color: #fff;
  font-weight: 600;
  border: 0;
  font-size: 1rem;
  padding: 0.75rem 1rem;
}

/* line 240, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles-club.scss */
.button:hover, .submit-button:hover {
  background-color: #23EEB4;
  color: #000;
}

/* line 247, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles-club.scss */
.calaca-footer {
  width: 94%;
  margin-bottom: 1rem;
}

/* line 252, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles-club.scss */
.chat-info {
  margin-bottom: 2rem;
}

/* line 256, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles-club.scss */
.confirm-logo {
  margin-bottom: 2rem;
}

/* line 260, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles-club.scss */
.confirm {
  margin-bottom: 2rem;
}

/* line 265, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles-club.scss */
.suscribe-unsuscribe .content {
  height: 100vh;
}

/*# sourceMappingURL=styles-club.css.map */