/* line 79, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
body {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: #000;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 88, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
figure {
  margin: 0;
}

/* line 90, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
figure img {
  width: 100%;
}

/* line 95, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
a {
  font-weight: 700;
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #23EEB4;
  cursor: pointer;
}

/* line 101, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
a:hover {
  color: #23EEB4;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  text-decoration: none;
}

/* line 108, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* line 114, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
li {
  margin: 0;
}

/* line 118, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
button, input, optgroup, select, textarea {
  font-family: "DM Sans", sans-serif;
  color: #000;
}

/* line 123, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
::selection, -moz-selection {
  color: #000;
  background: #23EEB4;
}

/* line 128, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.ul-inline {
  display: inline-block;
}

/* line 130, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.ul-inline li {
  display: inline-block;
}

/* line 135, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.underline {
  text-decoration: underline;
}

/* line 139, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.no-underline {
  text-decoration: none;
}

/* line 143, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.custom-underline {
  display: inline-block;
}

/* line 145, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.custom-underline:after {
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, 0);
  width: 40%;
  height: 2px;
  position: relative;
  top: 0.5rem;
  margin: 0 auto;
  transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
}

/* line 161, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.custom-underline:hover {
  color: #000;
}

/* line 164, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.custom-underline:hover:after {
  background-color: #000;
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
}

/* line 173, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.active:after {
  background-color: #000;
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
}

/* line 180, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.break {
  display: block;
  content: '';
}

/* line 185, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
:focus {
  outline: 0;
}

/* line 191, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "YoungSerif", sans-serif;
  font-weight: normal;
  font-style: normal;
  margin: 0;
  color: #000;
}

/* line 202, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.h1-giant {
  font-size: 3.653rem;
  line-height: 5.202rem;
}

/* line 207, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
h1 {
  font-size: 2.027rem;
  line-height: 2.887rem;
}

/* line 212, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
h2 {
  font-size: 1.602rem;
  line-height: 2.281rem;
}

/* line 217, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
h3 {
  font-size: 1.266rem;
  line-height: 1.802rem;
}

/* line 222, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
h4 {
  font-size: 1.125em;
  line-height: 1.602rem;
}

/* line 227, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
h5, h6 {
  font-size: 1rem;
  line-height: 1.424rem;
}

/* line 234, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
p {
  margin: 0;
}

/* line 238, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.p-giant, .giant {
  font-size: 1.802rem;
  line-height: 2.887rem;
}

/* line 243, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.p-big, .big {
  font-size: 1.424rem;
  line-height: 2.281rem;
}

/* line 248, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.p-mid, .mid {
  font-size: 1.125rem !important;
  line-height: 1.802rem !important;
}

/* line 253, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
p, .base {
  font-size: 1rem;
  line-height: 1.602rem;
}

/* line 258, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.p-small, .small {
  font-size: 0.79rem !important;
  line-height: 1.266rem !important;
}

/* line 263, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.p-micro, .micro {
  font-size: 0.702rem;
  line-height: 1.125rem;
}

/* line 270, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.author-date {
  font-family: "YoungSerif", sans-serif;
  text-transform: uppercase;
  letter-spacing: .16rem;
  line-height: 1.125rem;
}

/* line 279, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.link, .button {
  font-family: "YoungSerif", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  font-style: normal;
  border-bottom: 0;
}

/* line 285, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.link:hover, .button:hover {
  border-bottom: 0;
}

/* line 291, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.link:hover {
  color: inherit;
}

/* line 296, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.button {
  text-decoration: none;
  display: inline-block;
}

/* line 299, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.button:hover {
  transition: 0.7s ease;
  -webkit-transition: 0.7s ease;
  -moz-transition: 0.7s ease;
}

/* line 306, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.link-base, .button-big {
  font-size: 0.889rem;
  line-height: 1.424rem;
  letter-spacing: .23rem;
}

/* line 314, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.button-big {
  padding: 0.75rem 1.5rem;
}

/* line 318, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.button-dark {
  color: #fff;
  background-color: #000;
}

/* line 321, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.button-dark:hover {
  color: #000;
  background-color: #23EEB4;
}

/* line 327, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.input-button {
  width: inherit;
}

/* line 333, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.main-nav-mobile, .main-nav {
  padding: 1rem 0;
}

/* line 335, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.main-nav-mobile a, .main-nav a {
  border-bottom: 0;
}

/* line 337, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.main-nav-mobile a:hover, .main-nav a:hover {
  border-bottom: 0;
}

/* line 342, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.main-nav-mobile .main-nav-logo-desk:hover, .main-nav .main-nav-logo-desk:hover {
  color: #000;
}

/* line 349, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.main-nav-mobile .icon-kirby-crackle, .main-nav .icon-kirby-crackle {
  font-size: 2.5rem;
}

/* line 352, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.main-nav-mobile .icon-hamburger-bite, .main-nav .icon-hamburger-bite {
  font-size: 1.5rem;
  margin-top: .75rem;
  display: inline-block;
}

/* line 361, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.main-nav-mobile .icon-hamburger-bite:hover {
  color: #999592;
}

/* line 366, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.main-nav-mobile .icon-kirby-crackle:hover {
  color: #000;
}

/* line 379, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.modal-nav .modal-nav-wrapper {
  height: 100%;
}

/* line 382, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.modal-nav .modal-nav-body {
  background-color: #000;
  color: #fff;
  height: 100%;
  display: block;
}

/* line 387, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.modal-nav .modal-nav-body .middle-xs {
  height: 100%;
}

/* line 390, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.modal-nav .modal-nav-body a {
  color: #fff;
  border-bottom: 0;
}

/* line 393, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.modal-nav .modal-nav-body a:hover {
  color: #23EEB4;
  border-bottom: 0;
}

/* line 398, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.modal-nav .modal-nav-body .icon-close {
  font-size: 1.75rem;
  color: #fff;
  padding: 1rem 1.5rem;
}

/* line 402, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.modal-nav .modal-nav-body .icon-close:hover {
  color: #23EEB4;
}

/* line 405, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.modal-nav .modal-nav-body .icon-close svg {
  display: none;
}

/* line 410, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.modal-nav .modal-nav-body .modal-nav-links .uk-modal-close-default {
  position: inherit;
}

/* line 413, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.modal-nav .modal-nav-body .modal-nav-links a {
  display: inline-block;
  margin-bottom: 1rem;
}

/* line 417, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.modal-nav .modal-nav-body .modal-nav-links .modal-nav-logo {
  margin-bottom: 3rem;
}

/* line 419, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.modal-nav .modal-nav-body .modal-nav-links .modal-nav-logo a {
  font-size: 4rem;
}

/* line 424, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.modal-nav .modal-nav-body .modal-nav-social {
  margin-top: 3rem;
}

/* line 426, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.modal-nav .modal-nav-body .modal-nav-social li {
  font-size: 1.25rem;
  margin-right: 0.75rem;
}

/* line 429, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.modal-nav .modal-nav-body .modal-nav-social li:last-child {
  margin-right: 0;
}

/* line 439, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.header-home {
  padding: 4rem 0;
}

/* line 441, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.header-home h1 {
  margin-bottom: 3rem;
}

/* line 445, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.header-home nav .button {
  margin-bottom: 1.5rem;
}

/* line 453, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.index-projects {
  padding: 3rem 0 4rem 0;
  background-color: #f9f8f7;
  background-image: url(../images/backgrounds/projects-sm.png);
  background-size: contain;
}

/* line 458, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.index-projects .uk-slideshow-items {
  border-radius: 0.5rem;
}

/* line 461, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.index-projects .index-project {
  border-radius: 0.5rem;
  background-color: #fff;
  margin-bottom: 1rem;
  padding: 1.5rem;
  border-bottom: 0;
  font-weight: normal;
  background-size: cover;
}

/* line 469, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.index-projects .index-project:hover, .index-projects .index-project:focus, .index-projects .index-project:active {
  transition: 0.7s ease;
  -webkit-transition: 0.7s ease;
  -moz-transition: 0.7s ease;
  font-weight: normal;
  color: #000;
  border-bottom: 0;
}

/* line 477, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.index-projects .index-project li {
  height: 100%;
  display: grid;
}

/* line 481, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.index-projects .index-project .index-project-logo {
  text-align: left;
}

/* line 483, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.index-projects .index-project .index-project-logo img {
  width: inherit;
}

/* line 489, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.index-projects .index-project-info h6 {
  margin-bottom: 0.25rem;
}

/* line 494, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.index-projects .uk-slidenav-previous:after, .index-projects .uk-slidenav-next:after {
  content: "";
}

/* line 499, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.index-projects .slideshow-controls a {
  font-size: 1.5rem;
  color: #000;
  border-bottom: 0;
}

/* line 503, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.index-projects .slideshow-controls a:hover {
  color: #999592;
  border-bottom: 0;
}

/* line 507, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.index-projects .slideshow-controls a svg {
  display: none;
}

/* line 511, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.index-projects .slideshow-controls .icon-left {
  left: -2rem;
}

/* line 514, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.index-projects .slideshow-controls .icon-right {
  right: -2rem;
}

/* line 518, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.index-projects .slideshow-dotnav {
  margin-bottom: 2rem;
}

/* line 520, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.index-projects .slideshow-dotnav li {
  margin-right: 0.5rem;
}

/* line 522, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.index-projects .slideshow-dotnav li:last-child {
  margin-right: 0;
}

/* line 526, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.index-projects .slideshow-dotnav a {
  display: inline-block;
  width: .375rem;
  height: .375rem;
  background-color: #d9d7d5;
  border-bottom: 0;
  border-radius: 50%;
}

/* line 533, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.index-projects .slideshow-dotnav a:hover {
  background-color: #000;
}

/* line 538, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.index-projects .slideshow-dotnav .uk-active a {
  background-color: #000;
}

/* line 545, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.project-cards {
  margin-top: 1rem;
}

/* line 547, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.project-cards li {
  border-radius: 0.5rem;
  background-color: #f9f8f7;
  display: grid;
  margin-bottom: 2rem;
  padding: 1.5rem 1rem 1rem;
  padding-bottom: 2rem;
  background-position: top center;
  background-size: cover;
  height: 28rem;
  transition: 0.7s ease;
  -webkit-transition: 0.7s ease;
  -moz-transition: 0.7s ease;
}

/* line 560, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.project-cards li:hover {
  color: #000;
  transform: scale(1.03);
}

/* line 568, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.project-cards li .project-info h6 {
  margin-bottom: 0.25rem;
}

/* line 571, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.project-cards li .project-info p {
  font-weight: 400;
  color: #000;
}

/* line 577, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.project-cards li .project-card-logo img {
  width: inherit;
}

/* line 584, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.projects-end {
  margin: 1rem 0 4rem 0;
}

/* line 586, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.projects-end li {
  margin-bottom: 2rem;
}

/* line 592, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.project-page .project-hero-image {
  margin: 1rem 0 2rem 0;
}

/* line 595, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.project-page .author-date {
  margin-bottom: 0;
}

/* line 598, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.project-page h2 {
  margin-bottom: 1.5rem;
}

/* line 601, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.project-page .content {
  margin-bottom: 3rem;
}

/* line 603, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.project-page .content p {
  font-size: 1.125rem;
  line-height: 1.802rem;
  margin-bottom: 1.5rem;
}

/* line 608, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.project-page .content img {
  margin-bottom: 2rem;
}

/* line 610, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.project-page .content img:first-child {
  margin-top: 1.5rem;
}

/* line 613, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.project-page .content img:last-child {
  margin-bottom: 0;
}

/* line 619, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.project-page .project-images figure {
  margin-bottom: 2rem;
}

/* line 623, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.project-page .prev-next {
  margin: 1rem 0;
}

/* line 625, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.project-page .prev-next a {
  border-bottom: rgba(0, 0, 0, 0);
}

/* line 627, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.project-page .prev-next a:hover {
  color: #999592;
}

/* line 631, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.project-page .prev-next .icon {
  font-size: 2rem;
}

/* line 637, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.taller-veganista-card {
  background-color: #FFB6C6 !important;
  background-image: url(../images/backgrounds/taller-veganista-card-background-xs.jpg);
}

/* line 642, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.del-arquitecto-card {
  background-color: #f2eee9 !important;
  background-image: url(../images/backgrounds/del-arquitecto-card-background-xs.jpg);
}

/* line 647, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.volumen-vohnen-card {
  background-color: #fec611 !important;
  background-image: url(../images/backgrounds/volumen-vohnen-background-xs.png);
}

/* line 652, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.treebox-ebooks-card {
  background-color: #e2f1f7 !important;
  background-image: url(../images/backgrounds/treebox-ebooks-background-xs.png);
}

/* line 660, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.services {
  padding: 3rem 0 4rem 0;
}

/* line 662, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.services h3 {
  margin-bottom: 2rem;
}

/* line 666, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.services ul li {
  margin-bottom: 3rem;
}

/* line 668, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.services ul li:last-child {
  margin-bottom: 0;
}

/* line 671, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.services ul li figure {
  margin-bottom: 1.5rem;
}

/* line 674, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.services ul li h4 {
  margin-bottom: 1rem;
}

/* line 681, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.services-page {
  padding: 2rem 0 4rem 0 !important;
}

/* line 683, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.services-page ul {
  margin-bottom: 3rem;
}

/* line 690, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.team {
  background-color: #f9f8f7;
  background-image: url(../images/backgrounds/team-xs.png);
  background-size: cover;
  padding: 3rem 0;
}

/* line 695, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.team h3 {
  margin-bottom: 2rem;
}

/* line 698, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.team .team-member {
  margin-bottom: 3rem;
}

/* line 700, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.team .team-member:last-child {
  margin-bottom: 1.5rem;
}

/* line 703, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.team .team-member figure {
  margin-bottom: 1rem;
}

/* line 706, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.team .team-member h4 {
  margin-bottom: 0.25rem;
}

/* line 709, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.team .team-member .author-date {
  margin-bottom: 1rem;
}

/* line 712, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.team .team-member .team-member-description {
  margin-bottom: 1rem;
}

/* line 716, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.team .team-member .team-member-social li {
  margin-right: 0.75rem;
}

/* line 718, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.team .team-member .team-member-social li:last-child {
  margin-right: 0;
}

/* line 722, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.team .team-member .team-member-social a {
  font-size: 1.25rem;
  border-bottom: 0;
}

/* line 725, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.team .team-member .team-member-social a:hover {
  border-bottom: 0;
}

/* line 733, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.team-page {
  padding: 1rem 0 4rem 0 !important;
  background-color: rgba(0, 0, 0, 0);
  background-image: none !important;
}

/* line 742, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.contact-modal .contact-modal-wrapper {
  height: 100%;
}

/* line 745, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.contact-modal .contact-modal-body {
  background-color: #f9f8f7;
  color: #000;
  display: block;
}

/* line 753, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.contact-modal .icon-close {
  font-size: 1.75rem;
  color: #000;
  padding: 1rem 1.5rem;
}

/* line 758, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.contact-modal .icon-close:hover {
  color: #999592;
}

/* line 761, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.contact-modal .icon-close svg {
  display: none;
}

/* line 765, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.contact-modal .contact-page {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  margin: 4rem 0 2rem 0;
}

/* line 770, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.contact-modal .contact-page a {
  font-weight: 400;
}

/* line 776, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.contact-modal form {
  margin-top: 2rem;
}

/* line 778, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.contact-modal form .button {
  margin-bottom: 1rem;
}

/* line 782, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.contact-modal form input:focus, .contact-modal form textarea:focus {
  background-color: #fff;
}

/* line 791, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
input, label {
  display: block;
  text-align: left;
}

/* line 796, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
label {
  font-family: "YoungSerif", sans-serif;
  margin-bottom: 0.5rem;
}

/* line 801, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
input, textarea {
  width: 100%;
  border-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid #000;
  margin: 0 0 1.5rem 0;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0);
}

/* line 808, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
input:focus, textarea:focus {
  background-color: #f9f8f7;
}

/* line 813, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
textarea {
  height: 5rem;
}

/* line 817, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
button {
  border-radius: 0;
  border-color: rgba(0, 0, 0, 0);
  display: block;
  font-weight: 700;
  cursor: pointer !important;
}

/* line 827, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.posts-list {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

/* line 830, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.posts-list .post-card {
  font-weight: 400;
  background-color: #f9f8f7;
  padding: 2rem 1rem 3rem 1rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
}

/* line 836, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.posts-list .post-card:hover {
  color: #000;
  transition: 0.7s ease;
  -webkit-transition: 0.7s ease;
  -moz-transition: 0.7s ease;
}

/* line 843, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.posts-list .post-card figure {
  margin-bottom: 1.5rem;
}

/* line 846, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.posts-list .post-card h3 {
  margin-bottom: 0.25rem;
}

/* line 849, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.posts-list .post-card .post-info {
  margin-bottom: 2rem;
}

/* line 857, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.post {
  margin-bottom: 4rem;
}

/* line 859, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.post .post-hero-image {
  margin: 1rem 0 2rem 0;
}

/* line 862, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.post .post-info {
  margin-bottom: 0;
}

/* line 865, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.post h2 {
  margin-bottom: 2rem;
}

/* line 868, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.post .content {
  margin-bottom: 4rem;
}

/* line 870, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.post .content p {
  font-size: 1.125rem;
  line-height: 1.802rem;
  margin-bottom: 1.5rem;
}

/* line 877, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.post .prev-next a {
  font-weight: 400;
}

/* line 879, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.post .prev-next a:hover {
  color: #999592;
}

/* line 882, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.post .prev-next a .icon {
  font-size: 2rem;
}

/* line 891, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.drawings-gallery {
  margin-top: 1rem;
}

/* line 893, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.drawings-gallery a {
  font-weight: 400;
}

/* line 895, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.drawings-gallery a:hover {
  color: #000;
}

/* line 902, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.drawings-gallery li {
  margin-bottom: 2rem;
  transition: 0.7s ease;
  -webkit-transition: 0.7s ease;
  -moz-transition: 0.7s ease;
}

/* line 907, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.drawings-gallery li:hover {
  transform: scale(1.03);
}

/* line 910, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.drawings-gallery li figure {
  margin-bottom: 0.5rem;
}

/* line 913, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.drawings-gallery li h4, .drawings-gallery li h5, .drawings-gallery li h6 {
  margin-bottom: 1rem;
}

/* line 919, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.drawing-open {
  margin-top: 4rem;
}

/* line 921, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.drawing-open figure {
  margin-bottom: 1rem;
}

/* line 924, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.drawing-open h4, .drawing-open h5, .drawing-open h6 {
  margin-bottom: 0.5rem;
}

/* line 929, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.uk-lightbox {
  background-color: #f9f8f7;
}

/* line 931, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.uk-lightbox .uk-close {
  margin: 1.5rem 1rem;
  color: #000;
  font-family: 'icomoon' !important;
  font-size: 1.75rem !important;
}

/* line 936, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.uk-lightbox .uk-close:hover, .uk-lightbox .uk-close:active, .uk-lightbox .uk-close:focus {
  color: #999592;
}

/* line 939, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.uk-lightbox .uk-close:after {
  content: "\e908";
}

/* line 942, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.uk-lightbox .uk-close svg {
  display: none;
}

/* line 948, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.uk-lightbox-toolbar {
  background: rgba(0, 0, 0, 0);
}

/* line 952, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.uk-lightbox-caption {
  color: #000;
  font-family: "YoungSerif", sans-serif;
  padding-bottom: 2rem;
}

/* line 959, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.uk-lightbox-button {
  color: #000;
  background-color: rgba(0, 0, 0, 0);
  font-family: "icomoon";
  font-size: 2rem;
}

/* line 964, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.uk-lightbox-button:hover, .uk-lightbox-button:active, .uk-lightbox-button:focus {
  color: #b9b6b4;
}

/* line 967, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.uk-lightbox-button svg {
  display: none;
}

/* line 973, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.uk-slidenav-previous:after {
  content: "\e903";
}

/* line 979, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.uk-slidenav-next:after {
  content: "\e904";
}

/* line 986, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.suscribe {
  padding: 2rem 1rem;
  background-color: #f9f8f7;
  margin-bottom: 3rem;
}

/* line 990, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.suscribe h3 {
  margin-bottom: 2rem;
}

/* line 993, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.suscribe form {
  margin-bottom: 1rem;
}

/* line 996, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.suscribe label {
  font-family: "YoungSerif", sans-serif;
}

/* line 1000, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.suscribe input:focus, .suscribe textarea:focus {
  background-color: #fff;
}

/* line 1004, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.suscribe .button {
  margin-bottom: 1rem;
}

/* line 1007, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.suscribe input[type="email"] {
  width: 86%;
}

/* line 1014, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
footer {
  padding: 4rem 0;
  background-color: #000;
  color: #fff;
}

/* line 1018, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
footer a {
  color: #fff;
  border-bottom: 0;
}

/* line 1021, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
footer a:hover {
  color: #23EEB4 !important;
  border-bottom: 0;
}

/* line 1026, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
footer .footer-nav {
  margin-bottom: 3rem;
}

/* line 1028, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
footer .footer-nav a {
  display: inline-block;
  margin-bottom: 1rem;
}

/* line 1033, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
footer .footer-logo {
  margin-bottom: 3rem;
}

/* line 1035, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
footer .footer-logo a {
  font-size: 4rem;
}

/* line 1039, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
footer .icon-heart-fill {
  color: #23EEB4;
}

/* line 1042, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
footer .footer-social {
  margin-top: 1rem;
}

/* line 1044, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
footer .footer-social li {
  font-size: 1.25rem;
  margin-right: 0.75rem;
}

/* line 1047, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
footer .footer-social li:last-child {
  margin-right: 0;
}

/* line 1056, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.four-zero-four {
  margin: 3rem 0 4rem 0;
}

/* line 1058, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.four-zero-four figure {
  margin-bottom: -0.5rem;
}

/* line 1061, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.four-zero-four h1 {
  margin-bottom: 0.25rem;
}

/* line 1064, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.four-zero-four p {
  margin-bottom: 1rem;
}

/* line 1072, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.suscribe-unsuscribe .content {
  height: 100vh;
}

/* line 1075, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.suscribe-unsuscribe .logo {
  font-size: 5rem;
  display: block;
  margin-bottom: 1rem;
  border-bottom: rgba(0, 0, 0, 0);
}

/* line 1080, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.suscribe-unsuscribe .logo:hover {
  color: #000;
}

/* line 1084, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.suscribe-unsuscribe h2, .suscribe-unsuscribe h3 {
  margin-bottom: 1rem;
}

/* line 1087, ../../../../../Users/ale/Documents/fluorescente.github.io/assets/scss/styles.scss */
.suscribe-unsuscribe p {
  margin-bottom: 2rem;
}

/*# sourceMappingURL=styles.css.map */