<div id="contact-modal" class="contact-modal modal-nav uk-modal-full" uk-modal>
  <!-- modal dialog -->
  <div class="uk-modal-dialog uk-modal-body contact-modal-body">
    <!-- wrapper -->
    <div class="wrapper container-fluid contact-modal-wrapper">
      <!-- row -->
      <div class="row top-xs">
        <a class="uk-modal-close-default icon icon-close" uk-close></a>
      </div>
      <!-- row end -->
      <!-- row -->
      <div class="row">
        <div class="contact-page">
          <!-- col -->
          <div class="col-xs-12">
            <h3>Llena este formulario, envía un correo a <a href="mailto:hola@fluorescente.design">hola@fluorescente.design</a> o escríbenos por <a href="https://t.me/joinchat/J9QQERoNyllnuRbAYo7iwg" target="_blank">Telegram.</a></h3>
          </div>
          <!-- col end -->
          <!-- col -->
          <div class="col-xs-12">
            <form class="contact-form" action="https://formspree.io/f/mleojvdq" method="POST">
              <label for="name">Nombre*</label>
              <input type="text" name="name" id="name">
              <label for="email">Correo electrónico*</label>
              <input type="email" id="email" name="email">
              <label for="message">Mensaje*</label>
              <textarea name="message" id="message"></textarea>
              <button class="button button-big button-dark" type="submit">Enviar</button>
            </form>
            <p class="p-small">*Campos requeridos</p>
          </div>
          <!-- col-end -->
        </div>
        <!-- contact-page-end   -->
      </div>
      <!-- row end -->
    </div>
    <!-- wrapper end -->
  </div>
  <!-- modal dialog end  -->
</div>
