<div id="contact-modal" class="contact-modal modal-nav uk-modal-full" uk-modal>
  <!-- modal dialog -->
  <div class="uk-modal-dialog uk-modal-body contact-modal-body">
    <!-- wrapper -->
    <div class="wrapper container-fluid contact-modal-wrapper">
      <!-- row -->
      <div class="row top-xs">
        <a class="uk-modal-close-default icon icon-close" uk-close></a>
      </div>
      <!-- row end -->
      <!-- row -->

        <div class="contact-page row top-xs">
          <!-- col -->
          <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-6 col-lg-offset-1">
            <h3>Llena este formulario, <span class="break hidden-xs visible-sm visible-lg"></span>envía un correo a <a href="mailto:{{ site.email }}">{{ site.email }}</a> o escríbenos por <a href="{{ site.telegram_url }}" target="_blank">Telegram.</a></h3>
            <form class="contact-form" action="https://formcarry.com/s/ZeuI2QpWEGb" method="POST" accept-charset="UTF-8">
              <label for="name">Nombre*</label>
              <input type="text" name="yourName" id="name">
              <label for="email">Correo electrónico*</label>
              <input type="email" id="email" name="yourEmail">
              <input type="hidden" name="_gotcha"><!-- use this to prevent spam -->
              <label for="message">Mensaje*</label>
              <textarea id="message" name="yourMessage"></textarea>
              <button class="button button-big button-dark" type="submit">Enviar</button>
              <p class="p-small">*Campos requeridos</p>
            </form>
          </div>
          <!-- col end -->
          <!-- col -->
          <div class="col-lg-4 hidden-xs hidden-sm visible-lg">
            <figure>
              <img src="{{ "assets/images/drawings/jean-gray.png" | relative_url }}" alt="">
            </figure>
          </div>
          <!-- col end -->
        </div>
        <!-- contact-page-end   -->

    </div>
    <!-- wrapper end -->
  </div>
  <!-- modal dialog end  -->
</div>
