<nav uk-sticky="show-on-up: true; animation: uk-animation-slide-top" class="main-nav-mobile">
  <!-- wrapper -->
  <div class="wrapper container-fluid">
    <!-- row -->
    <ul class="row">
      <!-- col -->
      <li class="col-xs-6 start-xs middle-xs">
        <a href="/" class="icon icon-kirby-crackle no-underline"></a>
      </li>
      <!-- col end -->
      <li class="col-xs-6 end-xs">
        <a uk-toggle="target: #modal-nav" class="icon icon-hamburger-bite no-underline"></a>
      </li>
    </ul>
    <!-- row end -->
  </div>
  <!-- wrapper-end -->
</nav>

<!-- main_nav modal -->
<div id="modal-nav" class="modal-nav uk-modal-full" uk-modal>
  <div class="uk-modal-dialog uk-modal-body modal-nav-body">
    <!-- wrapper -->
    <div class="wrapper container-fluid modal-nav-wrapper">
      <!-- row -->
      <div class="row top-xs">
        <a class="uk-modal-close-default icon icon-close" uk-close></a>
      </div>
      <!-- row end -->
      <!-- row -->
      <div class="row center-xs middle-xs">
        <!-- col -->
        <div class="col-xs-12">
          <nav class="modal-nav-links">
            <ul>
              <li class="modal-nav-logo"><a href="/" class="icon icon-fluoresecente-logo"></a></li>
              <li><a href="/proyectos/" class="link no-underline link-base link-base">Proyectos</a></li>
              <li><a href="/#services" class="link no-underline link-base link-base" onclick="window.location.reload(true);">Que hacemos</a></li>
              <li><a href="/#team" class="link no-underline link-base" onclick="window.location.reload(true);">Equipo</a></li>
              <li><a uk-toggle="target: #contact-modal" class="link no-underline link-base link-base">Escríbenos</a></li>
              <li><a href="/blog" class="link no-underline link-base link-base">Blog</a></li>
              <li><a href="#" class="link no-underline link-base link-base">Dibujos</a></li>
            </ul>
            <ul class="center-xs ul-inline modal-nav-social">
              {% if site.github_username != nil %}
                <li><a href="#" class="icon icon-github no-underline"></a></li>
              {% endif %}
              {% if site.behance_username != nil %}
                <li><a href="#" class="icon icon-behance no-underline"></a></li>
              {% endif %}
              {% if site.dribbble_username != nil %}
                <li><a href="#" class="icon icon-dribbble no-underline"></a></li>
              {% endif %}
              {% if site.deviant_art_username != nil %}
                <li><a href="#" class="icion icon-deviant-art no-underline"></a></li>
              {% endif %}
              {% if site.meetup_username != nil %}
                <li><a href="#" class="icon icon-meetup no-underline"></a></li>
              {% endif %}
              {% if site.telegram_username != nil %}
                <li><a href="#" class="icon icon-telegram no-underline"></a></li>
              {% endif %}
            </ul>
          </nav>
        </div>
        <!-- col end -->
      </div>
      <!-- row end -->
    </div>
    <!-- wrapper end -->
  </div>
</div>
<!-- main-nav modal end -->
