<section>
  <!-- wrapper -->
  <div class="wrapper container-fluid">
    <!-- suscribe -->
    <div class="suscribe">
      <!-- row -->
      <div class="row" uk-scrollspy="cls: uk-animation-fade; delay: 100">
        <!-- col -->
        <div class="col-xs-12">
          <h3>{{ site.suscribe_call_to_action }}</h3>
          <form class="contact-form" action="https://formspree.io/f/mleojvdq" method="POST">
            <label for="email">Correo electrónico*</label>
            <input type="email" id="email" name="email">
            <button class="button button-big button-dark" type="submit">{{ site.suscribe_button }}</button>
          </form>
          <p class="p-small">*Campos requeridos</p>
        </div>
        <!-- col end -->
      </div>
      <!-- row end -->
    </div>
    <!-- suscribe end -->
  </div>
  <!-- wrapper end -->
</section>
