<section>
  <!-- wrapper -->
  <div class="wrapper container-fluid">
    <!-- suscribe -->
    <div class="suscribe">
      <!-- row -->
      <div class="row" uk-scrollspy="cls: uk-animation-fade; delay: 100">
        <!-- col -->
        <div class="col-xs-12">
          <h3>{{ site.suscribe_call_to_action }}</h3>
          <form class="contact-form embeddable-buttondown-form" action="https://buttondown.email/api/emails/embed-subscribe/fluore_scente" method="post" target="popupwindow" onsubmit="window.open('https://buttondown.email/fluore_scente', 'popupwindow')"
            <label for="bd-email">Correo electrónico*</label>
            <input type="email" id="bd-email" name="email">
            <input class="button button-big button-dark input-button" type="submit" name="" value="{{ site.suscribe_button }}">
          </form>
          <p class="p-small">*Campos requeridos</p>
        </div>
        <!-- col end -->
      </div>
      <!-- row end -->
    </div>
    <!-- suscribe end -->
  </div>
  <!-- wrapper end -->
</section>
