@media only screen and (max-width: 48em) {
  .visible-sm {
    display: block;
  }

  .hidden-xs {
    display: none;
  }
}
@media only screen and (min-width: 48em) {
  .visible-sm {
    display: block;
  }

  .hidden-sm {
    display: none;
  }

  .h1-giant {
    font-size: 5.852rem;
    line-height: 8.331rem;
  }

  h1 {
    font-size: 3.247rem;
    line-height: 4.624rem;
  }

  h2 {
    font-size: 2.566rem;
    line-height: 3.653rem;
  }

  h3 {
    font-size: 2.027rem;
    line-height: 2.887rem;
  }

  h4 {
    font-size: 1.602rem;
    line-height: 2.281rem;
  }

  h5 {
    font-size: 1.266rem;
    line-height: 1.802rem;
  }

  h6 {
    font-size: 1rem;
    line-height: 1.424rem;
  }

  .link-base, .button-big {
    font-size: 1.125rem;
    line-height: 1.802rem;
    letter-spacing: 0.3rem;
  }

  input, textarea {
    padding: 1rem 0.5rem;
  }

  .button-big {
    padding: 1rem 2rem;
  }

  .main-nav-mobile .icon-kirby-crackle, .main-nav .icon-kirby-crackle {
    font-size: 4rem !important;
  }
  .main-nav-mobile .icon-hamburger-bite, .main-nav .icon-hamburger-bite {
    font-size: 2rem;
  }

  .project-page .author-date {
    margin-bottom: 0.75rem;
  }
  .project-page .sticky-navigation .previous, .project-page .sticky-navigation .next {
    position: fixed;
    top: 35%;
  }
  .project-page .sticky-navigation .previous {
    left: 2rem;
  }
  .project-page .sticky-navigation .next {
    right: 2rem;
  }
  .project-page .sticky-navigation a {
    font-size: 3rem;
    border-bottom: rgba(0, 0, 0, 0);
  }

  .modal-nav .icon-close {
    font-size: 2rem !important;
  }

  .modal-nav-links a {
    margin-bottom: 1.5rem !important;
  }

  .header-home {
    padding: 6rem 0;
  }
  .header-home .button-big {
    margin-right: 1.5rem;
  }

  .index-projects .slideshow-controls a {
    font-size: 3rem;
  }
  .index-projects .slideshow-controls .icon-left {
    left: -4rem;
  }
  .index-projects .slideshow-controls .icon-right {
    right: -4rem;
  }
  .index-projects .index-project-info h6, .index-projects .index-project-info p {
    display: inline-block;
  }
  .index-projects .index-project-info h6 {
    margin-right: 0.25rem;
  }

  .project-cards .project-info h6, .project-cards .project-info p {
    display: inline-block;
  }
  .project-cards .project-info h6 {
    margin-right: 0.25rem;
  }

  .team {
    background-image: url(../images/backgrounds/team-sm.png);
  }

  .contact-modal .contact-form {
    margin-top: 3rem;
  }
  .contact-modal .contact-form input, .contact-modal .contact-form textarea {
    margin-bottom: 2rem;
  }
  .contact-modal .contact-form .button, .contact-modal .contact-form p {
    display: inline-block;
  }
  .contact-modal .contact-form .button {
    margin-right: 1.5rem;
  }

  .suscribe {
    padding: 3rem 2rem;
  }
  .suscribe .button {
    margin-left: 1rem;
    position: relative;
    top: 1.5rem;
  }

  .post .prev-next span {
    display: inline-block;
  }
  .post .prev-next .icon-arrow-left-light {
    margin-right: 1rem;
  }
  .post .prev-next .icon-arrow-right-light {
    margin-left: 1rem;
  }
  .post .prev-next .link-text {
    position: relative;
    top: -0.5rem;
    letter-spacing: 0.18rem;
  }

  .lightbox .col-sm-6 {
    display: inline-block;
    max-width: 49.7%;
  }

  .uk-lightbox-items > * > * {
    max-width: 80vh;
    max-height: 80vh;
  }

  footer .footer-nav {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }
  footer .footer-nav .link-base {
    font-size: 0.79rem !important;
    line-height: 1.266rem !important;
    letter-spacing: 0.18rem;
    margin-bottom: 0.75rem !important;
  }

  .four-zero-four p {
    margin-bottom: 2rem;
  }
}
@media only screen and (min-width: 62em) {
  .visible-lg {
    display: block;
  }

  .hidden-lg {
    display: none;
  }

  .main-nav {
    padding: 2rem 0;
  }
  .main-nav .main-nav-links {
    font-size: 0.889rem;
    line-height: 1.424rem;
    letter-spacing: 0.18rem;
  }
  .main-nav .main-nav-links li {
    margin-right: 1.5rem;
  }
  .main-nav .main-nav-links li:last-child {
    margin-right: 0;
  }

  .header-home {
    padding: 6rem 0 8rem 0;
  }
}

/*# sourceMappingURL=media-queries.css.map */
