@font-face {
  font-family: "YoungSerif", serif;
  src: url("../fonts/young-serif/YoungSerif-Regular.eot");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DM Sans", sans-serif;
  src: url("../fonts/young-serif/YoungSerif-Regular.eot");
  font-weight: normal;
  font-style: normal;
}
/* dm-sans-regular - latin */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/dm-sans-v6-latin/dm-sans-v6-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/dm-sans-v6-latin/dm-sans-v6-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/dm-sans-v6-latin/dm-sans-v6-latin-regular.woff2") format("woff2"), url("../fonts/dm-sans-v6-latin/dm-sans-v6-latin-regular.woff") format("woff"), url("../fonts/dm-sans-v6-latin/dm-sans-v6-latin-regular.ttf") format("truetype"), url("../fonts/dm-sans-v6-latin/dm-sans-v6-latin-regular.svg#DMSans") format("svg");
  /* Legacy iOS */
}
/* dm-sans-italic - latin */
@font-face {
  font-family: "DM Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/dm-sans-v6-latin/dm-sans-v6-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/dm-sans-v6-latin/dm-sans-v6-latin-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/dm-sans-v6-latin/dm-sans-v6-latin-italic.woff2") format("woff2"), url("../fonts/dm-sans-v6-latin/dm-sans-v6-latin-italic.woff") format("woff"), url("../fonts/dm-sans-v6-latin/dm-sans-v6-latin-italic.ttf") format("truetype"), url("../fonts/dm-sans-v6-latin/dm-sans-v6-latin-italic.svg#DMSans") format("svg");
  /* Legacy iOS */
}
/* dm-sans-700 - latin */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/dm-sans-v6-latin/dm-sans-v6-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/dm-sans-v6-latin/dm-sans-v6-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/dm-sans-v6-latin/dm-sans-v6-latin-700.woff2") format("woff2"), url("../fonts/dm-sans-v6-latin/dm-sans-v6-latin-700.woff") format("woff"), url("../fonts/dm-sans-v6-latin/dm-sans-v6-latin-700.ttf") format("truetype"), url("../fonts/dm-sans-v6-latin/dm-sans-v6-latin-700.svg#DMSans") format("svg");
  /* Legacy iOS */
}
/* dm-sans-700italic - latin */
@font-face {
  font-family: "DM Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/dm-sans-v6-latin-700italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/dm-sans-v6-latin-700italic.eot?#iefix") format("embedded-opentype"), url("../fonts/dm-sans-v6-latin-700italic.woff2") format("woff2"), url("../fonts/dm-sans-v6-latin-700italic.woff") format("woff"), url("../fonts/dm-sans-v6-latin-700italic.ttf") format("truetype"), url("../fonts/dm-sans-v6-latin-700italic.svg#DMSans") format("svg");
  /* Legacy iOS */
}
body {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: #000;
  background-color: #FFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

figure {
  margin: 0;
}
figure img {
  width: 100%;
}

a {
  font-weight: 700;
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #40FC81;
}
a:hover {
  color: #40FC81;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  margin: 0;
}

.ul-inline {
  display: inline-block;
}
.ul-inline li {
  display: inline-block;
}

.underline {
  text-decoration: underline;
}

.no-underline {
  text-decoration: none;
}

.custom-underline {
  display: inline-block;
}
.custom-underline:after {
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, 0);
  width: 40%;
  height: 2px;
  position: relative;
  top: 0.5rem;
  margin: 0 auto;
}
.custom-underline:hover {
  color: #000;
}
.custom-underline:hover:after {
  background-color: #000;
}

.break {
  display: block;
  content: "";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "YoungSerif", serif;
  font-weight: normal;
  font-style: normal;
  margin: 0;
  color: #000;
}

h1, h1-giant {
  font-size: 2.027rem;
  line-height: 2.887rem;
}

h2 {
  font-size: 1.602rem;
  line-height: 2.281rem;
}

h3 {
  font-size: 1.266rem;
  line-height: 1.802rem;
}

h4 {
  font-size: 1.125em;
  line-height: 1.602rem;
}

h5, h6 {
  font-size: 1rem;
  line-height: 1.424rem;
}

p {
  margin: 0;
}

.p-giant, .giant {
  font-size: 1.802rem;
  line-height: 2.887rem;
}

.p-big, .big {
  font-size: 1.424rem;
  line-height: 2.281rem;
}

.p-mid, .mid {
  font-size: 1.125rem;
  line-height: 1.802rem;
}

p, .base {
  font-size: 1rem;
  line-height: 1.602rem;
}

.p-small, .small {
  font-size: 0.79rem;
  line-height: 1.266rem;
}

.author-date {
  font-family: "YoungSerif", serif;
  text-transform: uppercase;
  letter-spacing: 0.16rem;
}

.link, .button {
  font-family: "YoungSerif", serif;
  text-transform: uppercase;
  font-weight: normal;
  font-style: normal;
  border-bottom: 0;
}
.link:hover, .button:hover {
  border-bottom: 0;
}

.link:hover {
  color: inherit;
}

.button {
  text-decoration: none;
  display: inline-block;
}
.button:hover {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.link-base, .button-big {
  font-size: 0.889rem;
  line-height: 1.424rem;
  letter-spacing: 0.23rem;
}

.button-big {
  padding: 0.75rem 1.5rem;
}

.button-dark {
  color: #FFF;
  background-color: #000;
}
.button-dark:hover {
  color: #000;
  background-color: #40FC81;
}

.main-nav-mobile {
  padding: 1rem 0;
}
.main-nav-mobile a {
  border-bottom: 0;
}
.main-nav-mobile a:hover {
  border-bottom: 0;
}
.main-nav-mobile .icon-kirby-crackle {
  font-size: 2.75rem;
}
.main-nav-mobile .icon-hamburger-bite {
  font-size: 1.5rem;
  margin-top: 0.75rem;
  display: inline-block;
}

.modal-nav {
  color: #FFF;
  background-color: #000;
}
.modal-nav .modal-nav-body {
  color: #FFF;
  background-color: #000;
  padding: 1rem;
}
.modal-nav .modal-nav-body a {
  color: #FFF;
  border-bottom: 0;
}
.modal-nav .modal-nav-body a:hover {
  border-bottom: 0;
  color: #40FC81;
}

.header-home {
  padding: 4rem 0;
}
.header-home h1 {
  margin-bottom: 3rem;
}
.header-home nav .button {
  margin-bottom: 1.5rem;
}

.index-projects {
  padding: 3rem 0;
  background-color: #FAFAFA;
}
.index-projects .index-project {
  border-radius: 0.5rem;
  background-color: #FFF;
  margin-bottom: 3rem;
  padding: 1.5rem;
  border-bottom: 0;
  font-weight: normal;
}
.index-projects .index-project:hover {
  font-weight: normal;
  color: #000;
  border-bottom: 0;
  box-shadow: 0 0.2rem 2rem rgba(190, 190, 190, 0.2);
}
.index-projects .index-project li {
  height: 100%;
  display: grid;
}
.index-projects .slideshow-controls a {
  font-size: 2rem;
  color: #000;
  border-bottom: 0;
}
.index-projects .slideshow-controls a:hover {
  color: #000;
  border-bottom: 0;
}
.index-projects .slideshow-controls a svg {
  display: none;
}
.index-projects .slideshow-controls .icon-left {
  left: -2.25rem;
}
.index-projects .slideshow-controls .icon-right {
  right: -2.25rem;
}

.services {
  padding: 3rem 0;
}
.services h3 {
  margin-bottom: 2rem;
}
.services ul li {
  margin-bottom: 3rem;
}
.services ul li:last-child {
  margin-bottom: 0;
}
.services ul li figure {
  margin-bottom: 1.5rem;
}
.services ul li h4 {
  margin-bottom: 1rem;
}

.team {
  background-color: #fafafa;
  padding: 3rem 0;
}
.team h3 {
  margin-bottom: 2rem;
}
.team .team-member {
  margin-bottom: 3rem;
}
.team .team-member:last-child {
  margin-bottom: 1.5rem;
}
.team .team-member figure {
  margin-bottom: 1rem;
}
.team .team-member h4 {
  margin-bottom: 0.25rem;
}
.team .team-member .author-date {
  margin-bottom: 1rem;
}
.team .team-member .team-member-description {
  margin-bottom: 1rem;
}
.team .team-member .team-member-social li {
  margin-right: 0.75rem;
}
.team .team-member .team-member-social li:last-child {
  margin-right: 0;
}
.team .team-member .team-member-social a {
  font-size: 1.25rem;
  border-bottom: 0;
}
.team .team-member .team-member-social a:hover {
  border-bottom: 0;
}

footer {
  padding: 4rem 0;
  background-color: #000;
  color: #FFF;
}
footer a {
  color: #FFF;
  border-bottom: 0;
}
footer a:hover {
  color: #40FC81 !important;
  border-bottom: 0;
}
footer .footer-nav {
  margin-bottom: 3rem;
}
footer .footer-nav a {
  display: inline-block;
  margin-bottom: 1rem;
}
footer .footer-logo {
  margin-bottom: 3rem;
}
footer .footer-logo a {
  font-size: 4rem;
}
footer .footer-social {
  margin-top: 1rem;
}
footer .footer-social li {
  font-size: 1.25rem;
  margin-right: 0.75rem;
}
footer .footer-social li:last-child {
  margin-right: 0;
}

/*# sourceMappingURL=styles.css.map */
