---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ site.lang }}" class="basic">
{% include basic-head.html %}
  <body>
    {% include basic-landing-nav.html %}
    <header class="full-width ux-library-header">
      <h1 class="h-xxl">{{ page.heading | markdownify | remove: '<p>' | remove: '</p>' }}</h1>
    </header>
    <main class="basic-main">
      <section>
        <div class="full-width">
          <h2>{{ page.nav-heading }}</h2>
        </div>
        {% include basic-navigation.html %}
      </section>
      <section>
        <div class="full-width">
          <h2>{{ page.header-background-heading }}</h2>
        </div>
        {% include basic-header-background.html %}
      </section>
      <section>
        <div class="full-width">
          <h2>{{ page.header-two-columns-01-heading }}</h2>
        </div>
        {% include basic-header-two-columns-01.html %} 
      </section>
      <section>
        <div class="full-width">
          <h2>{{ page.header-two-columns-02-heading }}</h2>
        </div>
        {% include basic-header-two-columns-02.html %}
      </section>
      <section>
        <div class="full-width">
          <h2>{{ page.paginator-heading }}</h2>
        </div>
        {% include basic-paginator.html %}
      </section>  
    </main>
    {% include basic-landing-nav.html %}
    {% include basic-footer.html %}   
  </body>
</html>   