---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ site.lang }}" class="fluorescente-404">
{% include fluorescente-head.html %}
  <body class="not-found">
    <div class="not-found-container">
      <div class="content">
        <header class="boxed-width">
          <div class="illustration">
            <span class="icon icon-neutral"></span>
          </div>
        </header>
        <main class="boxed-width">
          <h1>{{ page.heading }}</h1>
          <div class="main-text">
            <p>{{ content | markdownify | remove: '<p>' | remove: '</p>' }}</p>
          </div>
          <a href="{{ page.button-url }}" class="button button-ghost button-l">{{ page.button-text }}</a>
        </main>
      </div>
    </div>
  </body>
</html>    