---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ site.lang }}" class="fluorescente">
{% include fluorescente-head.html %}
  <body>
    <header class="boxed-width">
      <h1>No quiero seguir en una actividad laboral cuyo principio de evaluación es tan subjetivo que es básicamene un capricho, mi criterio tiene tan poco valor, y el juicio "objetivo" (basado en datos y conversiones) puede ser aún peor, o donde es imposible implementar una metodología y cultura laboral ordenadas y prácticas.</h1>
      <h1>Desconfío de las grandes tecnológicas, por lo que tampoco entusiasman ni las redes "sociales" ni la "IA", y me produce malestar mirar mi portafolio. Abandono el diseño diseño gráfico, web, ui, etc... para clientes. Si quieres proponerme algo <a href="mailto:alejandro@fluorescente.design">escríbeme</a></h1>
      <h2 class="h-1">Gracias <span class="icon icon-smile"></span></h2>
      <p class="note">Esta página fue hecha por un humano al que no le da pereza estudiar ni escribir código, no con <i>Vibe Coding,</i> Webflow ni Tailwind.</p>
    </header>
  </body>
</html>   