---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ site.lang }}" class="fluorescente">
{% include fluorescente-head.html %}
  <body>
    <header class="boxed-width">
      <h1 class="h-l">No quiero seguir en una actividad laboral cuyo criterio de evaluación es tan subjetivo que termina siendo básicamene un capricho, y donde es imposible implementar una metodología y cultura laboral ordenadas y profesionales. No me generan confianza las grandes tecnológicas, por lo que tampoco entusiasma la IA generativa, y me produce malestar mirar mi portafolio. Abandono el diseño diseño gráfico, web, ui, etc... para clientes. Si quieres proponerme algo <a href="mailto:alejandro@fluorescente.design">escríbeme</a></h1>
      <h2 class="h-l">Gracias <span class="icon icon-smile"></span></h2>
      <p class="note">Esta página fue hecha por un humano al que no le da pereza escribir código, no con <i>vibe coding,</i> webflow ni tailwind.</p>
    </header>
  </body>
</html>   