---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ site.lang }}" class="fluorescente">
{% include fluorescente-head.html %}
  <body>
    <header class="boxed-width">
      <h1>No quiero seguir en una actividad profesional cuyo principio de evaluación es tan subjetivo que es básicamene un capricho, y mi criterio tiene tan poco valor. O en la que una cultura laboral adecuada y una metodología ordenada y práctica son imposibles de implementar.</h1>
      <h1>Desconfío de las grandes tecnológicas, por lo que tampoco me entusiasman las redes "sociales" ni la "IA", y me produce malestar mirar mi portafolio. Abandono el diseño diseño gráfico, web, ui, etc... para clientes. Si quieres proponerme algo <a href="mailto:alejandro@fluorescente.design">escríbeme</a></h1>
      <h2>Gracias <span class="icon icon-smile"></span></h2>
    </header>
  </body>
</html>   