---
layout: basic_structure_no_nav_no_footer
---
<section class="suscribe-unsuscribe">
  <!-- wrapper -->
  <div class="wrapper container-fluid">
    <!-- row -->
    <div class="row center-xs middle-xs content">
      <!-- col -->
      <div class="col-xs-12">
        <a class="logo" href="/">
          <span class="icon icon-fluoresecente-logo"></span>
        </a>
        <h3>{{ page.title }}</h3>
        <!-- row -->
        <!-- col -->
        <div class="col-xs-12 col-sm-offset-1 col-sm-10">
          <p>{{ page.paragraph }}</p>
          {% if page.link != 'back' %}
            <a href="{{ page.link }}"class="button button-big button-dark">{{ page.button }}</a>
          {% endif %}
          <!-- {% if page.link == 'back' %}
            <a href="#" class="button button-big button-dark" onclick="window.location.href = window.history.go(-2);">{{ page.button }}</a>
          {% endif %} -->
        </div>
        <!-- col end -->
        <!-- row end -->
      </div>
      <!-- col end -->
    </div>
    <!-- row end -->
  </div>
  <!-- wrapper end -->
</section>
