// Fluore_scente
// Design and Development. Fluorescente github: @fluorescente
// fluorescente.design

// Type scale: https://www.modularscale.com/?16&px&1.2

// Variables

// Color variables

$brand: #FFB6C6;
$dark: #000;
$bright: #FFF;
$brand: #40FC81;
$gray-0: #FAFAFA;
$gray-1: #F7F7F7;
$gray-2: #C6C6C6;

$transparent: rgba(0,0,0,0);
$box-shadow: -1px -1px 17px -2px rgba(0,0,0,0.13);

$border-line: 1px dotted $dark;

$transition: .7s ease;
$transition-quick: .4s ease;

// Type variables

$headings: 'YoungSerif', serif;
$paragraphs: 'DM Sans', sans-serif;

$regular: 400;
$regular-italic: 400i;
$bold: 700;
$bold-italic: 700i;

// Space variables

// 4px
$quarter-space: .25rem;
// 8px
$half-space: .5rem;
// 12px
$half-space-and-quarter: .75rem;
// 16px
$space: 1rem;
// 24px
$space-and-half: 1.5rem;
// 32px
$two-spaces: 2rem;
// 48px
$three-spaces: 3rem;
// 64px
$four-spaces: 4rem;
// 96px
$six-spaces: 6rem;
// 128px
$eight-spaces: 8rem;

// @font-face

@font-face {
    font-family: 'YoungSerif', serif;
    src: url('../fonts/young-serif/YoungSerif-Regular.eot');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DM Sans', sans-serif;
    src: url('../fonts/young-serif/YoungSerif-Regular.eot');
    font-weight: normal;
    font-style: normal;
}

/* dm-sans-regular - latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/dm-sans-v6-latin/dm-sans-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/dm-sans-v6-latin/dm-sans-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/dm-sans-v6-latin/dm-sans-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/dm-sans-v6-latin/dm-sans-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/dm-sans-v6-latin/dm-sans-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/dm-sans-v6-latin/dm-sans-v6-latin-regular.svg#DMSans') format('svg'); /* Legacy iOS */
}

/* dm-sans-italic - latin */
@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/dm-sans-v6-latin/dm-sans-v6-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/dm-sans-v6-latin/dm-sans-v6-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/dm-sans-v6-latin/dm-sans-v6-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/dm-sans-v6-latin/dm-sans-v6-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/dm-sans-v6-latin/dm-sans-v6-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/dm-sans-v6-latin/dm-sans-v6-latin-italic.svg#DMSans') format('svg'); /* Legacy iOS */
}

/* dm-sans-700 - latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/dm-sans-v6-latin/dm-sans-v6-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/dm-sans-v6-latin/dm-sans-v6-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/dm-sans-v6-latin/dm-sans-v6-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/dm-sans-v6-latin/dm-sans-v6-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/dm-sans-v6-latin/dm-sans-v6-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/dm-sans-v6-latin/dm-sans-v6-latin-700.svg#DMSans') format('svg'); /* Legacy iOS */
}

/* dm-sans-700italic - latin */
@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/dm-sans-v6-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/dm-sans-v6-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/dm-sans-v6-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/dm-sans-v6-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/dm-sans-v6-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/dm-sans-v6-latin-700italic.svg#DMSans') format('svg'); /* Legacy iOS */
}

// Styles

// General

body{
  font-family: $paragraphs;
  font-weight: $regular;
  color: $dark;
  background-color: $bright;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

figure{
  margin: 0;
  & img{
    width: 100%;
  }
}

a{
  font-weight: $bold;
  color: $dark;
  text-decoration: none;
  border-bottom: 1px solid $brand;
  &:hover{
    color: $brand;
    border-bottom: 1px solid $transparent;
    text-decoration: none;
  }
}

ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li{
  margin: 0;
}

.ul-inline{
  display: inline-block;
  & li{
    display: inline-block;
  }
}

.underline{
  text-decoration: underline;
}

.no-underline{
  text-decoration: none;
}

.custom-underline{
  display: inline-block;
  &:after{
    content: "";
    display: block;
    background-color: $transparent;
    width: 40%;
    height: 2px;
    position: relative;
    top: $half-space;
    margin: 0 auto;
  }
  &:hover{
    color: $dark;
    &:after{
      background-color: $dark;
    }
  }
}

.break{
  display: block;
  content: '';
}

// Type styles

h1, h2, h3, h4, h5, h6{
  font-family: $headings;
  // letter-spacing: .08rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
  color: $dark;
}

// Headings

h1, h1-giant{
  font-size: 2.027rem;
  line-height: 2.887rem;
}

h2{
  font-size: 1.602rem;
  line-height: 2.281rem;
}

h3{
  font-size: 1.266rem;
  line-height: 1.802rem;
}

h4{
  font-size: 1.125em;
  line-height: 1.602rem;
}

h5, h6{
  font-size: 1rem;
  line-height: 1.424rem;
}

// Paragraphs

p{
  margin: 0;
}

.p-giant, .giant{
  font-size: 1.802rem;
  line-height: 2.887rem;
}

.p-big, .big{
  font-size: 1.424rem;
  line-height: 2.281rem;
}

.p-mid, .mid{
  font-size: 1.125rem;
  line-height: 1.802rem;
}

p, .base{
  font-size: 1rem;
  line-height: 1.602rem;
}

.p-small, .small{
  font-size: 0.79rem;
  line-height: 1.266rem;
}

// Misc

.author-date{
  font-family: $headings;
  text-transform: uppercase;
  letter-spacing: .16rem;
}

// link/buttons

.link, .button{
  font-family: $headings;
  text-transform: uppercase;
  font-weight: normal;
  font-style: normal;
  border-bottom: 0;
  &:hover{
    border-bottom: 0;
  }
}

.link{
  &:hover{
    color: inherit;
  }
}

.button{
  text-decoration: none;
  display: inline-block;
  &:hover{
    -webkit-transition: $transition-quick;
    transition: $transition-quick;
  }
}

.link-base, .button-big{
  font-size: 0.889rem;
  line-height: 1.424rem;
  letter-spacing: .23rem;
}

// Buttons

.button-big{
  padding: $half-space-and-quarter $space-and-half;
}

.button-dark{
  color: $bright;
  background-color: $dark;
  &:hover{
    color: $dark;
    background-color: $brand;
  }
}

// main nav mobile

.main-nav-mobile{
  padding: $space 0;
  & a{
    border-bottom: 0;
    &:hover{
      border-bottom: 0;
    }
  }
  & .icon-kirby-crackle{
    font-size: 2.75rem;
  }
  & .icon-hamburger-bite{
    font-size: $space-and-half;
    margin-top: .75rem;
    display: inline-block;
  }
}

// home

// mobile nav
.modal-nav{
  & .modal-nav-wrapper{
    height: 100%;
  }
  & .modal-nav-body{
    background-color: $dark;
    color: $bright;
    height: 100%;
    display: block;
    & .middle-xs{
      height: 100%;
    }
    & a{
      color: $bright;
      border-bottom: 0;
      &:hover{
        color: $brand;
        border-bottom: 0;
      }
    }
    & .icon-close{
      font-size: 1.75rem;
      color: $bright;
      padding: $space $space-and-half;
      &:hover{
        color: $brand;
      }
      & svg{
        display: none;
      }
    }
    & .modal-nav-links{
      & a{
        display: inline-block;
        margin-bottom: $space;
      }
      & .modal-nav-logo{
        margin-bottom: $three-spaces;
        & a{
          font-size: $four-spaces;
        }
      }
    }
    & .modal-nav-social{
      margin-top: $three-spaces;
      & li{
        font-size: 1.25rem;
        margin-right: $half-space-and-quarter;
        &:last-child{
          margin-right: 0;
        }
      }
    }
  }
}

// header

.header-home{
  padding: $four-spaces 0;
  & h1{
    margin-bottom: $three-spaces;
  }
  & nav{
    & .button{
      margin-bottom: $space-and-half;
    }
  }
}

// projects

.index-projects{
  padding: $three-spaces 0 $four-spaces 0;
  background-color: $gray-0;
  background-image: url(../images/backgrounds/projects.png);
  background-position: center;
  background-size: cover;
  & .index-project{
    border-radius: $half-space;
    background-color: $bright;
    margin-bottom: $space;
    padding: $space-and-half;
    border-bottom: 0;
    font-weight: normal;
    &:hover{
      font-weight: normal;
      color: $dark;
      border-bottom: 0;
      -webkit-transition: $transition-quick;
      transition: $transition-quick;
      box-shadow: $box-shadow;
    }
    & li{
      height: 100%;
      display: grid;
    }
  }
  & .index-project-info{
    & h6{
      margin-bottom: $quarter-space;
    }
  }
  & .slideshow-controls{
    & a{
      font-size: $space-and-half;
      color: $dark;
      border-bottom: 0;
      &:hover{
        color: $dark;
        border-bottom: 0;
      }
      & svg{
        display: none;
      }
    }
    & .icon-left{
      left: -2rem;
    }
    & .icon-right{
      right: -2rem;
    }
  }
  & .slideshow-dotnav{
    margin-bottom: $two-spaces;
    & li{
      margin-right: $half-space;
      &:last-child{
        margin-right: 0;
      }
    }
    & a{
      display: inline-block;
      width: .375rem;
      height: .375rem;
      background-color: $gray-2;
      border-bottom: 0;
      border-radius: 50%;
      &:hover{
        background-color: $dark;
      }
    }
    & .uk-active{
      & a{
        background-color: $dark;
      }
    }
  }
}

.project-cards{
  margin-top: $space;
  & li{
    border-radius: $half-space;
    background-color: $gray-0;
    display: grid;
    margin-bottom: $two-spaces;
    padding: $space;
    padding-bottom: $two-spaces;
    height: 28rem;
    &:hover{
      color: $dark;
      // background-color: $bright;
      // transform: scale(0.98);
      box-shadow: $box-shadow;
      -webkit-transition: $transition;
      transition: $transition;
    }
    & .project-info{
      & h6{
        margin-bottom: $quarter-space;
      }
      & p{
        font-weight: $regular;
      }
    }
  }
}

.projects-end{
  margin: $space 0 $four-spaces 0;
  & li{
    margin-bottom: $two-spaces;
  }
}


// services

.services{
  padding: $three-spaces 0;
  & h3{
    margin-bottom: $two-spaces;
  }
  & ul{
    & li{
      margin-bottom: $three-spaces;
      &:last-child{
        margin-bottom: 0;
      }
      & figure{
        margin-bottom: $space-and-half;
      }
      & h4{
        margin-bottom: $space;
      }
    }
  }
}

// Team

.team{
  background-color: $gray-0;
  background-image: url(../images/backgrounds/team-xs.png);
  background-position: center;
  background-size: cover;
  padding: $three-spaces 0;
  & h3{
    margin-bottom: $two-spaces;
  }
  & .team-member{
    margin-bottom: $three-spaces;
    &:last-child{
      margin-bottom: $space-and-half;
    }
    & figure{
      margin-bottom: $space;
    }
    & h4{
      margin-bottom: $quarter-space;
    }
    & .author-date{
      margin-bottom: $space;
    }
    & .team-member-description{
      margin-bottom: $space;
    }
    & .team-member-social{
      & li{
        margin-right: $half-space-and-quarter;
        &:last-child{
          margin-right: 0;
        }
      }
      & a{
        font-size: 1.25rem;
        border-bottom: 0;
        &:hover{
          border-bottom: 0;
        }
      }
    }
  }
}

// Footer

footer{
  padding: $four-spaces 0;
  background-color: $dark;
  color: $bright;
  & a{
    color: $bright;
    border-bottom: 0;
    &:hover{
      color: $brand !important;
      border-bottom: 0;
    }
  }
  & .footer-nav{
    margin-bottom: $three-spaces;
    & a{
      display: inline-block;
      margin-bottom: $space;
    }
  }
  & .footer-logo{
    margin-bottom: $three-spaces;
    & a{
      font-size: $four-spaces;
    }
  }
  & .footer-social{
    margin-top: $space;
    & li{
      font-size: 1.25rem;
      margin-right: $half-space-and-quarter;
      &:last-child{
        margin-right: 0;
      }
    }
  }
}
